  <header class="sticky-nav logo-only">
    <a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
  </header>

  <section class="confirm text-center">

    <h2 class="text-uppercase">Congratulations</h2>

    <img src="./assets/images/checked-blue.png" alt="">

    <h2>Your Account has been Activated!</h2>

    <a ng-click="goNext();" class="button button-primary button-next modal-opener">NEXT</a>

  </section>
<!--
  <div class="popup-modal confirm">
    <div class="modal modal-alert container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left layout-center">Save Confirmed</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>

      <p class="text-center">
        You can continue the application later and start using the Free Invoices Unlimited app now.
      </p>

      <button ng-click="getStarted();" class="button button-small button-info text-uppercase layout-center">Okay</button>

    </div>
  </div>
-->