  <header class="sticky-nav logo-only">
    <a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
  </header>

  <section class="sign-up text-center">

    <h2 class="text-uppercase">Business Info</h2>

    <form name="signUp" id="signUpForm">
      <input type="text" placeholder="Business Name" name="company" ng-model="bsnsInfo.businessName" required>
      <input type="text" placeholder="Street Name" name="streetName" ng-model="bsnsInfo.streetName" required>
      <input type="text" placeholder="City" name="city" ng-model="bsnsInfo.city" required>
      <input type="text" placeholder="State" name="state" ng-model="bsnsInfo.state" required class="input-50">
      <input type="text" placeholder="Zip Code" name="zipCode" ng-model="bsnsInfo.zipCode" required class="input-50">
      <input type="text" placeholder="Phone Number" name="phoneNumber" id="phone" ng-model="bsnsInfo.phoneNumber">
      <textarea placeholder="Products &amp; Services Sold (ie. Boutique Clothing, Stationary, etc.)" ng-model="bsnsInfo.businessDescription" name="businessDescription"></textarea>
      <label class="input-container input-checkbox-container">
        <p>Do You Have a Federal Tax ID?</p>
        <input type="checkbox" class="federal-tax">
        <span class="checkbox"></span>
        <input class="layout-margin-tb federal-tax" type="text" placeholder="Federaly Tax ID" ng-model="bsnsInfo.federalTaxID" name="federalTaxID"> <!--pattern=".{9,}"-->
      </label>
      <select class="custom-dd" name="ownershipType"
              ng-init="bsnsInfo.ownershipType = 'ownershipTitle'"
              ng-model="bsnsInfo.ownershipType">
        <option value="ownershipTitle" disabled>Ownership Type</option>
        <option value="Sole Proprietor">Sole Proprietor</option>
        <option value="LLC">LLC</option>
        <option value="Corporation and Non Profit">Corporation and Non Profit</option>-->
      </select>

    </form>

    <a href="" ng-click="saveBusinessInfo();" class="button button-primary button-next">Next</a>

  </section>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="./dist/js/main.js"></script>

