<div class="overlay tutorial">
    <section class="sign-up text-center">
    
        <h1><strong>STEP 1</strong></h1>
        
        <label>Please fill in the fields which will be used on your custom invoices.</label>
        
        <a href="" ng-click="nextClicked();" class="button button-primary button-next">Next</a>
        
    </section>
</div>
<header class="sticky-nav logo-only">
    <a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
  </header>

  <section  class="sign-up text-center">

    <h2 class="text-uppercase">Business Info</h2>
      
      <p>This information will be displayed at the top of your custom invoices.</p>

    <form name="signUp" id="signUpForm">
        <input type="text" placeholder="Full Name" name="fullName" id="fullName" ng-model="fullName" required>
        
        <input type="text" placeholder="Business Name" name="company" id="company" ng-model="bsnsInfo.businessName" required>
        
      <input type="text" placeholder="Business Address" name="streetName" id="streetName" ng-model="bsnsInfo.streetName" required>
      <input type="text" placeholder="City" name="city" id="city" ng-model="bsnsInfo.city" required>
      <input type="text" style="margin-left: -5px !important;" placeholder="State" name="state" id="state" ng-model="bsnsInfo.state" required class="input-50 input-50-spacing-swap">
      <input type="text" style="margin-left: 10px !important;" placeholder="Zip Code" name="zipCode" id="zipCode" ng-model="bsnsInfo.zipCode" required class="input-50 input-50-spacing-swap">

      <input type="text" placeholder="Phone Number" class="mobilePhone" name="phoneNumber" id="phoneNumber" ng-model="bsnsInfo.phoneNumber">

    </form>

    <a href="" ng-click="saveBusinessInfo();" class="button button-primary button-next">Next</a>

</section>

<!--
<header class="sticky-nav logo-only">
    <a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
  </header>

  <section class="sign-up text-center">

    <h2 class="text-uppercase">Business Info</h2>

    <form name="signUp" id="signUpForm">
      <input type="text" placeholder="Business Name" name="company" ng-model="bsnsInfo.businessName" required>
      <input type="text" placeholder="Business Address" name="streetName" ng-model="bsnsInfo.streetName" required>
      <input type="text" placeholder="City" name="city" ng-model="bsnsInfo.city" required>
      <input type="text" placeholder="State" name="state" ng-model="bsnsInfo.state" required class="input-50">
      <input type="text" placeholder="Zip Code" name="zipCode" ng-model="bsnsInfo.zipCode" required class="input-50">
     <!-- <input type="text" placeholder="Phone Number" name="phoneNumber" id="phone" ng-model="bsnsInfo.phoneNumber">
      <textarea placeholder="Products &amp; Services Sold (ie. Boutique Clothing, Stationary, etc.)" ng-model="bsnsInfo.businessDescription" name="businessDescription"></textarea>
      <label class="input-container input-checkbox-container">
        <p>Do You Have a Federal Tax ID?</p>
        <input type="checkbox" class="federal-tax-id" ng-change="federalTaxIdClick();" ng-model="x2">
        <span class="checkbox"></span>
        </label>
      <input class="layout-margin-tb federal-tax federal-tax-id-input" type="text" placeholder="Federaly Tax ID" ng-model="bsnsInfo.federalTaxID" name="federalTaxID"> <!--pattern=".{9,}"
      
      <select class="custom-dd" name="ownershipType"
              ng-init="bsnsInfo.ownershipType = 'ownershipTitle'"
              ng-model="bsnsInfo.ownershipType">
        <option value="ownershipTitle" disabled>Ownership Type</option>
        <option value="Sole Proprietor">Sole Proprietor</option>
        <option value="LLC">LLC</option>
        <option value="Corporation and Non Profit">Corporation and Non Profit</option>
      </select>

    </form>

    <a href="" ng-click="saveBusinessInfo();" class="button button-primary button-next">Next</a>

  </section>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="./dist/js/main.js"></script>

-->