<header class="sticky-nav logo-only">
    <a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
  </header>

  <section class="confirm text-center">

    <h2 class="text-uppercase">Merchant Account</h2>
      
      <p>Do you want to accept credit cards? Activate your account today. Our rates are as low as 2.9%</p>

    <img src="./assets/images/cards.png" alt="">

    <a ng-click="goNext();" class="button button-success button-next modal-opener" style="background-color: #5cb85c !important" >Activate Now</a>
      
      <a href="javascript:" ng-click="skipStep();">NO, THANK YOU</a>

  </section>