<header class="sticky-nav logo-only">
    <a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
  </header>

<div class="row">
    <div style="display: inline;">
        <img style="width: 500px !important; margin-left: 200px; margin-top: 50px;" src="./assets/images/activate.jpg" alt="">
    </div>
  <div class="confirm text-center" style="display: inline !important;position: absolute;">

    <h2 class="text-uppercase">Start accepting credit cards</h2>
      
      <p style="text-align: left;">
            <span style="color: #6699ff;">&#10004;</span>Accept payments directly from your invoice<br/>
            <span style="color: #6699ff;">&#10004;</span>Next day deposits in your bank account<br/>
            <span style="color: #6699ff;">&#10004;</span>Eliminate double data entry<br/>
      </p>
      <h2 style="margin-bottom: 10px; margin-top: 10px;">Rates as low as <span style="font-size: 40px;">2.9%</span></h2>
    <img style="width: 350px;" src="./assets/images/cards.png" alt="">

    <a ng-click="goNext();" class="button button-success button-next modal-opener" style="background-color: #5cb85c !important" >APPLY NOW</a>
      
      <a href="javascript:" ng-click="skipStep();">NO, THANK YOU</a>

  </div>
        
    </div>



<!--    
  <section class="confirm text-center">

    <h2 class="text-uppercase">Merchant Account</h2>
      
      <p>Do you want to accept credit cards? Activate your account today. Our rates are as low as 2.9%</p>

    <img src="./assets/images/cards.png" alt="">

    <a ng-click="goNext();" class="button button-success button-next modal-opener" style="background-color: #5cb85c !important" >Activate Now</a>
      
      <a href="javascript:" ng-click="skipStep();">NO, THANK YOU</a>

  </section>
        -->