<header class="sticky-nav logo-only">
    <a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
</header>

<section class="sign-up">

    <h2 class="text-uppercase text-center">Principal Info</h2>

    

    <form name="signUp" id="signUpForm">
        <input type="text" placeholder="Full Name" name="fullName" required ng-model="fullName">
        
        <label class="input-checkbox-container icc-left">
        <input type="checkbox" ng-model="toggleHomeChecked" id="toggleHome" ng-change="toggleHomeInfo();">
        <span class="checkbox"></span>
        <p>Uncheck if home address is different from the business.</p>
        </label>
        
        <input type="text" placeholder="Street Name" name="streetName" ng-model="principalInfo.streetName" required>
        <input type="text" placeholder="City" name="city" ng-model="principalInfo.city" required>
        <input type="text" placeholder="State" name="state" required class="input-50 input-50-spacing-swap" ng-model="principalInfo.state">
        <input type="text" placeholder="Zip Code" name="zipCode" required class="input-50 input-50-spacing-swap" ng-model="principalInfo.zipCode">
        
        <div class="input-container input-info">
            <input type="text" placeholder="DOB (MM-DD-YYYY)" name="dob" ng-model="dob"
                uib-datepicker-popup="MM-dd-yyyy" is-open="openPicker1" ng-click="openDatePicker(1)"
                show-button-bar="false" readonly>
            <span class="info-icon"></span>
            <p class="info-tooltip">
                We require your birth date to validate your identity. Invoices Unlimited follows industry recognized security safeguards to protect your personal data from misuse.
            </p>
        </div>
        <div class="input-container input-info">
            <input type="text" placeholder="SSN" name="ssn" ng-model="principalInfo.ssn">
            <span class="info-icon"></span>
            <p class="info-tooltip">
                We require your SSN to validate your identity. Invoices Unlimited follows industry recognized security safeguards to protect your personal data from misuse.
            </p>
        </div>

    </form>

    <a ng-click="savePrincipalInfo();" class="button button-primary button-next">Next</a>
    <a ng-click="saveAndContinueLater();" class="button button-neutral-lg">Save &amp; Continue Later</a>

    <p class="text-center">This is to activate a merchant account. If you do not want to accept credit cards, please select the Save &amp; Continue Later button to start using your Free app.</p>

  </section>
