  <header class="sticky-nav logo-only">
    <a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
  </header>

<div class="container layout-padding">
  <section class="sign-up">

    <h2 class="text-uppercase text-center">FORGOT PASSWORD</h2>

    <form name="signUp">
      <p class="errorMessage" style="display:none;color:red;"></p>
      <p class="successMessage" style="display:none;color:green;"></p>
      <div class="input-container layout-margin-b">
        <input type="text" class="layout-no-margin" placeholder="EMAIL" ng-model="email">
      </div>
      
    </form>

    <a href="" ng-click="sendPasswordResetLink()" class="button button-primary button-next">SEND REQUEST</a>
    <a ui-sref="login" class="button button-neutral-lg">BACK TO LOGIN</a>

    <p><a ui-sref="signup">Don't have an Account? Singup now in three quick steps.</a></p>

  </section>
</div>
<!--
<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
-->
<!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="./assets/js/main.js"></script>-->