<!--<div class="myoverlay"></div>  -->
<header class="sticky-nav logo-only">
    <a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
  </header>
  
  <div class="container layout-padding" elem-ready="pageReady()">
  <section class="sign-up">
    <h2 class="text-uppercase text-center">SIGN IN TO YOUR ACCOUNT</h2>

    <form name="signUp">
      <p class="errorMessage" style="display:none;color:red;"></p>
      <div class="input-container layout-margin-b">
        <input type="text" class="layout-no-margin" placeholder="USERNAME" ng-model="username">
      </div>
      <div class="input-container layout-margin-b">
        <input type="password" class="layout-no-margin" placeholder="PASSWORD" ng-model="password">
      </div>
    </form>
    
      <div style="margin-top: 5px">
      <input style="float:left ; width: 25px;" id="sign_in_chkbox" type="checkbox"/>
      <label id="keep_me_sign_in_label" style="float:left ; color: #8c8c8c">Keep Me Signed In</label>
      <a id="keep_me_sign_in_ancor" style=" float:left ;margin-left: 100px;" class="text-right" ui-sref="resetPassword">FORGOT PASSWORD?</a>
      </div>
      
    <a ng-click="signInAction();" class="button button-primary button-next">SIGN IN</a>
      
   <!--   
    <a ng-click="signUpAction();" class="button button-neutral-lg">SIGN UP</a>

    <p class="text-center">Don't have an Account? Sign Up now in three quick steps.</p>
-->
      <p class="text-center">Don't have an Account Yet?  <span><a href="javascript:" ng-click="signUpAction();"> Sign Up Today</a></span></p>
      <!--<p class="text-center">For Resellers  <span><a href="https://app.invoicesunlimited.com/admin/#/resellerSignup"> Sign Up as Reseller</a></span></p>-->
  </section>
  </div>
<!--
  <div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
-->
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="./dist/js/main.js"></script>-->
