<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>
  <div class="container hidesm">
    <a href="../../../dashboard/sales/creditnotes/creditnotes.html" class="button-icon float-left">
      <img src="../../../dist/images/icon-back.png" alt="Kappa">
    </a>
    <h3 class="float-left section-title text-uppercase text-color-normalize layout-margin-tb">CN-000003</h3>
    <div class="actions float-right layout-margin-tb">
      <a href="edit.creditnote.html" class="button button-small button-neutral text-uppercase layout-margin-r">Edit</a>
      <button class="button button-small button-neutral text-uppercase">More <img src="../../../dist/images/dropdown-arrow-w.png" alt="">
        <ul class="submenu list-clear layout-no-padding text-left text-normalize">
          <li><a href="">Email</a></li>
          <li><a href="">Print</a></li>
        </ul>
      </button>
    </div>
    <div class="clearfix"></div>
    <hr>

    <p class="log text-color-light text-weight-normalize">12/03/2014 02:22 PM <span>Estimate created for $10.00 - John</span></p>
    <p class="log text-color-light text-weight-normalize">12/03/2014 02:13 AM <span>Estimate EST-0001 emailed - John</span></p>
    <p class="log text-color-light text-weight-normalize">12/03/2014 09:10 AM <span>Estimate converted to Invoice INV-000002 - John - <a href="#">View</a></span></p>
    <a href="#" class="layout-margin-tb">+ New Comment</a>

    <div class="text-center layout-margin-tb">
      <img src="../../../dist/images/invoiced.png" alt="">
    </div>

    <p class="layout-no-padding text-center">Template: 'Standard Template' - <a href="#">Change</a></p>

    <div class="clearfix"></div>

    <h3 class="layout-margin-t section-title text-uppercase text-color-normalize">Attachments</h3>

    <table class="container table-border-tb layout-margin-tb-lg">
      <tr class="text-uppercase text-color-normalize">
        <td class="layout-padding-tb text-uppercase">Date</td>
        <td class="layout-padding-tb text-uppercase">Invoice#</td>
        <td class="layout-padding-tb text-uppercase">Amount Credited</td>
        <td class="layout-padding-tb"></td>
      </tr>
      <tr class="text-color-light">
        <td class="layout-padding-tb-lg valign-top">12/03/2014</td>
        <td class="layout-padding-tb-lg valign-top">INV-000001</td>
        <td class="layout-padding-tb-lg valign-top">Amount Credited</td>
        <td class="layout-padding-tb-lg valign-top actions"><a href="#" class="action-edit">Edit</a> <button class="button button-icon button-no-margin"><img src="../../../dist/images/icon-times-round.png" alt=""></button></td>
      </tr>
    </table>

    <div class="spacer"></div>

  </div>

  <div class="popup-modal convert-to-invoice hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Convert to Invoice</h3>
      <button class="button button-icon float-right modal-close button-no-margin"><img src="../../../dist/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <p class="layout-no-margin layout-no-padding col-100">Select which estimate fields you would like to keep on your invoice:</p>
        <form action="" class="inputs-white layout-margin-t float-left">
          <label class="input-container input-checkbox-container layout-margin-b">
            <input type="checkbox">
            <span class="checkbox float-left"></span>
            <p>Customer Notes</p>
          </label>
          <label class="input-container input-checkbox-container layout-margin-b">
            <input type="checkbox">
            <span class="checkbox float-left"></span>
            <p>Terms &amp; Conditions</p>
          </label>
          <label class="input-container input-checkbox-container layout-margin-b">
            <input type="checkbox">
            <span class="checkbox float-left"></span>
            <p>Address</p>
          </label>
        </form>
        <div class="clearfix"></div>
        <br/>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase">Save</button>
    </div>
  </div>
<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
