<!doctype html>
<html ng-app="invoicesUnlimited" style="height:100%;">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1"/>

		<title>Home | InvoicesUnlimited</title>
		<meta name="keywords" content=""/>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
	<!--	<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->

		<link rel="stylesheet" href="./assets/css/main.css"/>
		<link rel="stylesheet" href="" id="appStyle"/>
		<link rel="stylesheet" href="./assets/js/fullcalendar.min.css"/>

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--<base href="/invoiceunlimited/"/>-->
	</head>
	<body>

	<div class="overlay loader-screen" style="display:none">
		<img class="loader" src="./assets/images/loader-new.gif" />
	</div>

	<div class="overlay message" style="display:none">
		<div class="message-window">
			<div class="message-type"></div>
			<div class="message-content">
				<p class="message-text"></p>
				<div class="close-btn">Close</div>
			</div>
		</div>
	</div>

	<div ui-view></div>

	<script type="text/ng-template" id="modal-contact">
    
	    <div class="modal-container">

	      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">{{title}}</h3>
	      <button ng-click="Cancel();" class="button button-icon float-right modal-close button-no-margin"><img src="./assets/images/icon-times.png" alt=""></button>
	      <div class="clearfix"></div>
	      <hr class="layout-margin-tb">

	      <div class="col-80 text-left layout-center">
	        <form action="" class="layout-margin-tb inputs-white">
	          <div class="input-container layout-margin-b">

	          	<label class="layout-padding-t-sm">Primary Contact</label>
		        <select class="col-30 layout-margin-r" ng-model="contact.entity.salutation">
		          <option value="">None</option>
		          <option value="Ms." selected>Ms.</option>
		          <option value="Mr.">Mr.</option>
		        </select>
		        <input class="col-20" type="text" placeholder="First Name" ng-model="contact.entity.firstname">
		        <input class="col-20 pull-right" type="text" placeholder="Last Name" ng-model="contact.entity.lastname">
	          </div>

	          <div class="input-container layout-margin-b">
	            <label class="layout-padding-t-sm">Phone Number</label>
	            <input class="col-35" type="text" ng-model="contact.entity.phone" placeholder="Work">
	            <input class="col-35 pull-right" type="text" ng-model="contact.entity.mobile" placeholder="Mobile">
	          </div>

	          <div class="input-container layout-margin-b">
	            <label class="layout-padding-t-sm">Email Address</label>
	            <input class="col-75" type="email" ng-model="contact.entity.email" placeholder="">
	          </div>
	        </form>
	      </div>
	      <div class="clearfix"></div>
	      <button ng-click="Save();" class="button button-small button-info text-uppercase">Save</button>
	    </div>
    
  	</script>

	<script src="http://www.parsecdn.com/js/parse-1.6.14.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js"></script>
	<!--<script src="./assets/js/ui-bootstrap.min.js"></script>
	<script src="./assets/js/ui-bootstrap-tpls.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.3.0.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.13.4/jquery.mask.min.js"></script>
    <script src="./assets/js/ocLazyLoad/ocLazyLoad.js"></script>

    <!-- FULL CALENDAR LIBS -->
	<script src='./assets/js/moment.js'></script>
	<script src='./assets/js/fullcalendar.min.js'></script>
	<!-- FULL CALENDAR LIBS -->

    <script src="./assets/js/md5.js"></script>

    <script src="./app/app.module.js"></script>

    <script src="./assets/js/xml2json.min.js"></script>

    <script src="./app/components/signup/controllers/SignupController.js"></script>
    <script src="./app/components/signup/controllers/VerificationController.js"></script>
    <script src="./app/components/signup/controllers/BusinessInfoController.js"></script>
    <script src="./app/components/signup/controllers/PrincipalInfoController.js"></script>
    <script src="./app/components/signup/controllers/AccountInfoController.js"></script>
    <script src="./app/components/signup/controllers/SignatureController.js"></script>
    <script src="./app/components/signup/controllers/ConfirmController.js"></script>

    <script src="./app/components/dashboard/controllers/DashboardController.js"></script>
    <script src="./app/components/dashboard/controllers/settings/SettingsController.js"></script>
    <script src="./app/components/dashboard/controllers/settings/CompanyProfileController.js"></script>
    <script src="./app/components/dashboard/controllers/settings/AppPreferencesController.js"></script>
    <script src="./app/components/dashboard/controllers/customers/ModalContactController.js"></script>
    <script src="./app/components/dashboard/controllers/customers/CustomersController.js"></script>
    <script src="./app/components/dashboard/controllers/customers/NewCustomerController.js"></script>
    <script src="./app/components/dashboard/controllers/settings/ItemController.js"></script>
	<script src="./app/components/dashboard/controllers/settings/TaxController.js"></script>
	<script src="./app/components/dashboard/controllers/settings/InvoiceSettingsController.js"></script>

	<script src="./app/components/dashboard/controllers/sales/invoices/InvoiceController.js"></script>
	<script src="./app/components/dashboard/controllers/sales/invoices/CreateInvoiceController.js"></script>

	<script src="./app/components/dashboard/controllers/sales/estimates/EstimateController.js"></script>
	<script src="./app/components/dashboard/controllers/sales/estimates/CreateEstimateController.js"></script>

	<script src="./app/components/dashboard/controllers/sales/creditnotes/CreditNoteController.js"></script>
	<script src="./app/components/dashboard/controllers/sales/creditnotes/CreateCreditNoteController.js"></script>

	<script src="./app/components/dashboard/controllers/expenses/ExpenseController.js"></script>

    <script src="./app/components/login/controllers/LoginController.js"></script>

    <script src="./app/app.routes.js"></script>

    <script src="./app/services.js"></script>
    <script src="./app/components/signup/services/signupService.js"></script>

    <script src="./app/components/core/services/userService.js"></script>
    <script src="./app/components/core/services/businessService.js"></script>
    <script src="./app/components/core/services/principalService.js"></script>
    <script src="./app/components/core/services/accountService.js"></script>
    <script src="./app/components/core/services/signatureService.js"></script>
    <script src="./app/components/core/services/organizationService.js"></script>
    <script src="./app/components/core/services/contactPersonService.js"></script>
    <script src="./app/components/core/services/customerService.js"></script>
    <script src="./app/components/core/services/coreService.js"></script>
    <script src="./app/components/core/services/itemService.js"></script>
	<script src="./app/components/core/services/taxService.js"></script>
	<script src="./app/components/core/services/invoiceService.js"></script>
	<script src="./app/components/core/services/commentService.js"></script>
	<script src="./app/components/core/services/invoicesService.js"></script>
	<script src="./app/components/core/services/estimateService.js"></script>
	<script src="./app/components/core/services/creditNoteService.js"></script>
	<script src="./app/components/core/services/expenseService.js"></script>

	<script src="./app/components/core/factories/itemFactory.js"></script>
	<script src="./app/components/core/factories/invoiceFactory.js"></script>
	<script src="./app/components/core/factories/invoiceItemFactory.js"></script>
	<script src="./app/components/core/factories/estimateFactory.js"></script>
	<script src="./app/components/core/factories/estimateItemFactory.js"></script>
	<script src="./app/components/core/factories/creditNoteFactory.js"></script>
	<script src="./app/components/core/factories/creditNoteItemFactory.js"></script>
	<script src="./app/components/core/factories/expenseFactory.js"></script>
	<script src="./app/components/core/factories/expenseCategoryFactory.js"></script>

    <script src="./assets/js/main.js"></script>

	</body>
</html>