<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpErrors>
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" prefixLanguageFilePath="" path="https://app.invoicesunlimited.com/" responseMode="Redirect" />
		</httpErrors>
        
         <rewrite>
             <rules>
                <rule name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true"> 
	<match url="(.*)" /> 
	<conditions> 
		<add input="{HTTPS}" pattern="off" ignoreCase="true" />
	</conditions> 
	<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
</rule>
                
				 <!--
                <rule name="Imported Rule 1-1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="urlrender" negate="true" />
                        <add input="{HTTP_USER_AGENT}" pattern="googlebot|bingbot|yandexbot|linkedinbot|twitterbot" />
                    </conditions>
                    <action type="Rewrite" url="https://open.urlrender.com/{REQUEST_SCHEME}://{HTTP_HOST}/{R:1}" />
                </rule>
                 -->

             </rules>
        </rewrite>
		
         
		<staticContent>
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
		</staticContent>
        <handlers>
            <remove name="PHP" />
        </handlers>

	</system.webServer>
</configuration>