<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>
  <div class="container hidesm">

      <div class="" style="position: relative !important; top: 0px !important; cursor: pointer;">
    <h3 ng-click="showMenu()" class="section-title float-left text-uppercase text-weight-normalize text-color-normalize layout-margin-tb-lg">{{currentInvoice}} <i class="arrow-down-black"></i>
      </h3>
    <ul id="ul_wrapp" class="filtermenu">
          <li><a ng-click="showAllInvoices()">All Invoices</a></li>
          <li><a ng-click="sentInvoices()">Sent Invoices</a></li>
        <li><a ng-click="overdueInvoices()">Overdue Expenses</a></li>
          <li><a ng-click="unpaidInvoices()">Draft Invoices</a></li>
        <li><a ng-click="paidInvoices()">Paid Invoices</a></li>
        <li><a ng-click="partialPaidInvoices()">Partial Paid Invoices</a></li>
        <li><a ng-click="refundedInvoices()">Refunded Invoices</a></li>
        </ul>
      </div>
    <a ui-sref="dashboard.sales.invoices.new" class="float-right button button-add text-transform">New</a>
   
    <form class="float-right layout-margin-t">
      
        <input type="text" class="search-bar" placeholder="Search" ng-model="searchText" ng-change="search()">
    
     </form>
    
    <div class="clearfix"></div>

    <table class="data-table invoices-data no-border show_table_hover" style = "margin-bottom: 20px;" >

      <tr style="cursor: pointer" class="thead">
          <td ng-click = "sortByStatus()" class="text-uppercase text-info">Status<span><img id="status" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <td ng-click = "sortByDate()" class="text-uppercase text-info">Date<span><img id="date" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <td ng-click = "sortByInvoiveNumber()"class="text-uppercase text-info">Invoice#<span><img id="invoiceno" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span> </td>

        <!-- put it inside td <img src="./assets/images/dropdown-arrow-primary.png" alt="">-->
        <td ng-click="sortByOrderNumber()" class="text-uppercase text-info">Order#<span><img id="orderno" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <td ng-click="sortByCustomerName()" class="text-uppercase text-info">Cust. Name<span><img id="custname" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        
        <td ng-click = "sortByDueDate()" class="text-uppercase text-info">Due Date<span><img id="duedate" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <td ng-click="sortByAmount()"  class="text-uppercase text-info text-center">Amount<span><img id="amount" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <td ng-click="sortByBalance()" style="min-width: 97px ; max-width: 133px;"  class="text-uppercase text-info text-center">Balance<span><img id="balance" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
      </tr>
    
    <tr class="trow" ng-repeat="invoice in invoiceList"
      ui-sref="dashboard.sales.invoices.details({invoiceId:invoice.entity.id})">
          
          <td><span class="{{invoice.statusClass}}">{{invoice.entity.status}}</span></td>
        <td class="text-color-light">{{invoice.invoiceDate}}</td>
        <td class="text-color-light"><span style="vertical-align: inherit;">{{invoice.entity.invoiceNumber}}</span><span ng-show="invoice.attachments"><img style="width: 20px; margin-left:5px" src="./assets/images/pin_icon.png"></span></td>
        <td class="text-color-light">{{invoice.entity.poNumber}}</td>
        <td class="text-color-light">{{invoice.customer.displayName}}</td>
        <td class="text-color-light">{{invoice.dueDate}}</td>
        <td  class="text-color-light text-center">{{invoice.total}}</td>
        <td Style="min-width: 97px ; max-width: 133px;"  class="text-color-light text-center">{{invoice.balanceDue}}</td>
      </tr>
    
    </table>

    
  </div>
<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
