<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>

  <div class="container hidesm">
    <a ui-sref="dashboard.sales.estimates.all" class="button-icon float-left">
      <img src="./assets/images/icon-back.png" alt="goBack">
    </a>
    <h3 class="float-left section-title text-uppercase text-color-normalize layout-margin-tb">{{estimateNo}}</h3>
    <div class="actions float-right layout-margin-tb" uib-dropdown>
      <a ui-sref="dashboard.sales.estimates.edit({estimateId:estimate.entity.id})"
        class="button button-small button-neutral text-uppercase layout-margin-r">Edit</a>
      <!--data-toggle="convert-to-invoice"-->
      <a ui-sref="dashboard.sales.invoices.convertEstimate({estimateId:estimate.entity.id})" class="button button-small button-info text-uppercase layout-margin-r modal-opener">Convert To Invoice</a>
      <button class="button button-small button-neutral text-uppercase" uib-dropdown-toggle>More <img src="./assets/images/dropdown-arrow-w.png" alt="">
      </button>
      <ul class="submenu list-clear layout-no-padding text-left text-normalize" uib-dropdown-menu>
        <li><a href="" ng-click="emailReceipt()">Send as Email</a></li>
          <li><a href="" ng-click="textReceipt()">Send as Text</a></li>
        <li><a ng-href="{{templateUrl}}" ng-click="estimatePrinted()" target="_blank">Print</a></li>
        <li><a ui-sref="dashboard.sales.estimates.clone({estimateId:estimate.entity.id})" ng-click="estimateCloned()">Clone</a></li>
        <li><a href="" class="modal-opener" data-toggle="confirm-delete">Delete</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div ng-repeat="comment in comments">
      <p class="log text-color-light text-weight-normalize">{{comment.date}} <span>
        {{comment.entity.comment}} - {{comment.entity.name}}</span></p>
    </div>
    <a href="" class="layout-margin-tb modal-opener" data-toggle="add-comment">+ New Comment</a>

    <div class="text-center layout-margin-tb">
      <iframe ng-src="{{templateUrl}}" name="targetframe"
        width="1050px" height="600px" frameborder="1" >
      </iframe>
      <!-- <img src="./assets/images/invoiced.png" alt=""> -->
    </div>

<!-- <p class="layout-no-padding float-left">User: Chris</p>
    <p class="layout-no-padding text-center">
      Template: 'Standard Template' - <a ng-click="changeTemplate()">Change</a>
    </p>
  -->

    <div class="popup-modal change-template hidesm">
      <div class="modal container">
        <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize
          float-left">Select Template</h3>
        <button class="button button-icon float-right modal-close button-no-margin">
          <img src="./assets/images/icon-times.png" alt=""></button>
        <div class="clearfix"></div>
        <hr class="layout-margin-tb">
        
        <div class="col-80 layout-center">
        <div class="col-30" ng-repeat="template in templates">
          <img ng-src="{{template.url}}" alt="">
          <p>{{template.name}}</p>
          <div class="text-center">
            <button class="button button-info text-uppercase"
              ng-click="setDefaultTemplate($index)">Set as Default</button>
          </div>
        </div>
      </div>

        <div class="clearfix"></div>
      </div>
    </div>

    <div class="clearfix"></div>
      
      
      <h3 class="layout-margin-t section-title text-uppercase text-color-normalize float-left">Attachments</h3>
      
    <label>
      <input type="file" style="display: none;"
        onchange="angular.element(this).scope().addAttachment(this)" accept=".pdf,.png,.jpg,.jpeg">
      <div class="layout-margin-t button button-no-bg float-right">+ Add</div>
    </label> 
    <label id="file-error" class="float-right" style="margin-top: 35px; font-size: 14px; color: red; display: none;">Invalid file: Supported files are PDF,PNG,JPG and JPEG.</label>
     <label id="file-size-error" class="float-right" style="margin-top: 35px; font-size: 14px; color: red; display: none;">Error : File size exceeds maximum limit 5 MB!</label>  
    <div class="clearfix"></div>

    <table class="container table-border-tb layout-margin-tb-lg">
      <tr class="text-uppercase text-color-normalize">
        <td class="layout-padding-tb text-uppercase">Name</td>
        <!--
        <td class="layout-padding-tb text-uppercase">Date</td>
        <td class="layout-padding-tb"></td>
        -->
      </tr>
      <tr class="text-color-light" ng-repeat="attach in attachments">
        <td class="layout-padding-tb-lg valign-top"><a ng-href="{{attach.fileUrl}}" target="_blank">{{attach.fileName1}}</a></td>
        <!--
        <td class="layout-padding-tb-lg valign-top">12/03/2014</td>
        <td class="layout-padding-tb-lg valign-top actions">
          <a class="action-edit" href="#">re-upload</a>
          <button class="button button-icon button-no-margin">
          <img src="./assets/images/icon-times-round.png" alt=""></button>
        </td>
        -->
      </tr>
      <!--
      <tr class="text-color-light">
        <td class="layout-padding-tb-lg valign-top"><a href="#">documents.pdf</a></td>
        <td class="layout-padding-tb-lg valign-top">12/05/2014</td>
        <td class="layout-padding-tb-lg valign-top actions"><a class="action-edit" href="#">re-upload</a> <button class="button button-icon button-no-margin"><img src="./assets/images/icon-times-round.png" alt=""></button></td>
      </tr>
    -->
    </table>
      
      
<!--
    <h3 class="layout-margin-t section-title text-uppercase text-color-normalize float-left">Attachments</h3>
    <button class="layout-margin-t button button-no-bg float-right">+ Add</button>

    <div class="clearfix"></div>

    <table class="container table-border-tb layout-margin-tb-lg">
      <tr class="text-uppercase text-color-normalize">
        <td class="layout-padding-tb text-uppercase">Name</td>
        <td class="layout-padding-tb text-uppercase">Date</td>
        <td class="layout-padding-tb"></td>
      </tr>
      <tr class="text-color-light">
        <td class="layout-padding-tb-lg valign-top"><a href="#">imagenotes.jpg</a></td>
        <td class="layout-padding-tb-lg valign-top">12/03/2014</td>
        <td class="layout-padding-tb-lg valign-top actions"><a href="#">re-upload</a> <button class="button button-icon button-no-margin"><img src="./assets/images/icon-times-round.png" alt=""></button></td>
      </tr>
      <tr class="text-color-light">
        <td class="layout-padding-tb-lg valign-top"><a href="#">documents.pdf</a></td>
        <td class="layout-padding-tb-lg valign-top">12/05/2014</td>
        <td class="layout-padding-tb-lg valign-top actions"><a href="#">re-upload</a> <button class="button button-icon button-no-margin"><img src="./assets/images/icon-times-round.png" alt=""></button></td>
      </tr>
    </table>
-->
    <div class="spacer"></div>

  </div>

  <div class="popup-modal convert-to-invoice hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Convert to Invoice</h3>
      <button class="button button-icon float-right modal-close button-no-margin"><img src="./assets/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <p class="layout-no-margin layout-no-padding col-100">Select which estimate fields you would like to keep on your invoice:</p>
        <form action="" class="inputs-white layout-margin-t float-left">
          <label class="input-container input-checkbox-container layout-margin-b">
            <input type="checkbox">
            <span class="checkbox float-left"></span>
            <p>Customer Notes</p>
          </label>
          <label class="input-container input-checkbox-container layout-margin-b">
            <input type="checkbox">
            <span class="checkbox float-left"></span>
            <p>Terms &amp; Conditions</p>
          </label>
          <label class="input-container input-checkbox-container layout-margin-b">
            <input type="checkbox">
            <span class="checkbox float-left"></span>
            <p>Address</p>
          </label>
        </form>
        <div class="clearfix"></div>
        <br/>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase">Save</button>
    </div>
  </div>

  <div class="popup-modal confirm-delete hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-color-normalise text-weight-normalize
        float-left">Are you sure you want to delete this estimate?</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <button class="button button-info text-uppercase" ng-click="deleteEstimate()">Yes</button>
      <button class="button button-info text-uppercase modal-close">No</button>
    </div>
  </div>
  <div class="popup-modal add-comment hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-color-normalise text-weight-normalize
        float-left">Add Comment</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">
      <textarea ng-model="newComment"></textarea>
      <br/>
      <button class="button button-info text-uppercase" ng-click="addComment()">Save</button>
    </div>
  </div>

<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
