<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>
  <div class="container hidesm">

    <h3 class="float-left section-title text-uppercase text-color-normalize layout-margin-tb">Edit Estimate</h3>
    <div class="clearfix"></div>
    <hr>
    <form class="inputs-white layout-margin-b">
      <div class="input-container col-60 layout-margin-b">
        <label class="layout-padding-t-sm">Customer Name</label>
        <select class="col-75">
          <option value="null" disabled>Select customer to estimate</option>
          <option value="customer1" selected>Leela Turanga</option>
          <option value="customer2">Leela</option>
        </select>
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="padding-t-sm">Estimate #</label>
        <input class="col-75" type="text" value="EST-000004">
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="padding-t-sm">Referenece #</label>
        <input class="col-75" type="text">
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="padding-t-sm">Estimate Date</label>
        <input class="col-75" type="text" value="12/11/2014">
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="padding-t-sm">Expiration Date</label>
        <input class="col-75" type="date" placeholder="MM/DD/YYYY">
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="layout-padding-t-sm">Sales Person</label>
        <select class="col-75">
          <option value="null" disabled>Select or Type to add</option>
          <option value="customer1">Customer 1</option>
          <option value="customer2">Customer 2</option>
        </select>
      </div>
    </form>

    <div class="clearfix"></div>
    <br>

    <div class="container container-table layout-margin-t">
      <div class="thead layout-padding">
        <div class="col-30 ">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Item Details</h3>
        </div>
        <div class="col-15 layout-padding-l text-right">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Quantity</h3>

        </div>
        <div class="col-15 layout-padding-l text-right">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Rate</h3>
        </div>
        <div class="col-15 layout-padding-l">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Tax</h3>
        </div>
        <div class="col-15 layout-padding-l text-center">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Amount</h3>
        </div>
        <div class="col-5 layout-padding-l">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize"></h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="tbody no-border inputs-white">
        <div class="table-row">
          <div class="col-30 layout-padding">
            <i class="icons float-left"><img src="../../../dist/images/handle.png" alt=""></i>
            <select>
              <option value="null" disabled>Select or Type to add</option>
              <option value="1" selected>Lorem Ipsum</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="col-15 layout-padding layout-padding-l text-right">
            <input type="number" placeholder="1.0" value="1.0">
          </div>
          <div class="col-15 layout-padding layout-padding-l text-right">
            <input type="number" placeholder="10.00" value="7.50">
          </div>
          <div class="col-15 layout-padding layout-padding-l">
            <select>
              <option value="null" disabled>None</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="col-15 layout-padding layout-padding-l text-center">
            <p class="layout-no-margin">$7.50</p>
          </div>
          <div class="col-5 layout-padding layout-padding-l text-right">
            <button class="button button-icon button-no-margin"><img src="../../../dist/images/icon-times-round.png" alt=""></button>
          </div>
        </div>
        <a href="#" class="button layout-margin-tb">+ Add another item</a>
        <hr>
        <div class="col-60 pull-right">
          <div class="col-25">Sub Total</div>
          <div class="col-65 text-right">0.00</div>
          <br>
          <form class="inputs-white">
            <div class="input-container layout-margin-tb">
              <label class="layout-padding-t-smm">Discount (%)</label>
              <input type="text" class="col-30">
              <label class="col-35 text-right layout-padding-t-smm">0.00</label>
            </div>
            <div class="input-container layout-margin-tb">
              <label class="layout-padding-t-smm">Shipping Charges</label>
              <input type="text" class="col-30">
              <label class="col-35 text-right layout-padding-t-smm">0.00</label>
            </div>
            <div class="input-container input-info layout-margin-tb">
              <label class="layout-padding-t-smm">Adjustment</label>
              <input type="text" class="col-30">
              <span class="info-icon info-icon-gray estimates-custom-info-icon"></span>
              <p class="info-tooltip tooltip-dark info-left estimates-custom-tooltip">
                Add any additional adjustments needed for the total amount ex: +5 or -5
              </p>
              <label class="col-35 text-right layout-padding-t-smm">0.00</label>
            </div>
          </form>
        </div>
        <div class="table-row row-border layout-padding layout-margin-tb">
          <div class="col-60 pull-right">
            <div class="col-25"><h3 class="layout-no-margin text-uppercase text-weight-normalize">Total</h3></div>
            <div class="col-65 text-right"><h3 class="layout-no-margin text-uppercase text-weight-normalize">7.00</h3></div>
          </div>
        </div>
        <form class="table-row col-60 layout-margin-tb">
          <div class="input-container layout-margin-b">
            <label class="col-i-30">Customer Notes</label>
            <textarea class="col-70">Looking forward to your business.</textarea>
          </div>
          <div class="input-container">
            <label class="col-i-30">Terms &amp; Conditions</label>
            <textarea class="col-70"></textarea>
          </div>
          <p class="col-i-30">Attach Reference File</p>
          <p class="col-70"><a href="#">Upload File</a></p>
          <div class="clearfix"></div>
          <p class="col-i-30">Template Used</p>
          <p class="col-70">'Standard Template' <a href="#">Choose</a></p>

          <div class="clearfix spacer"></div>

          <button class="button layout-margin-r text-uppercase button-neutral">Save</button>
          <button class="button layout-margin-r text-uppercase button-info">Save &amp; Send</button>
          <button class="button layout-margin-r text-uppercase button-neutral">Cancel</button>
        </form>

      </div>
    </div>

    <div class="clearfix"></div>

    <div class="spacer"></div>

  </div>
<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
