<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>
  <div class="container hidesm">

      <div class="" style="position: relative !important; top: 0px !important; cursor: pointer;">
    <h3 ng-click="showMenu()" class="section-title float-left text-uppercase text-weight-normalize text-color-normalize layout-margin-tb-lg">{{currentEstimates}} <i class="arrow-down-black"></i>
      </h3>
    <ul id="ul_wrapp" class="filtermenu">
          <li><a ng-click="allEstimates()">All Estimates</a></li>
          <li><a ng-click="draftEstimates()">Draft Estimates</a></li>
        <li><a ng-click="sentEstimates()">Sent Estimates</a></li>
          <li><a ng-click="invoicedEstimates()">Invoiced Estimates</a></li>
        <li><a ng-click="acceptedEstimates()">Accepted Estimates</a></li>
        <li><a ng-click="declinedEstimates()">Declined Estimates</a></li>
        </ul>
      </div>
    <a ui-sref="dashboard.sales.estimates.new" class="float-right button button-add text-transform">New</a>
    
    <form class="float-right layout-margin-t">
      <input type="text" class="search-bar" placeholder="Search" ng-model="searchText" ng-change = "search()" >
    </form>
    <div class="clearfix"></div>

    <table class="invoices-data no-border show_table_hover" style = "margin-bottom: 20px;">
      <tr style="cursor : pointer" class="thead">
        <td ng-click = "sortByDate()" class="layout-padding text-uppercase text-info">Date<span><img id="date" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <td ng-click = "sortByEstimateNumber()" class="layout-padding text-uppercase text-info">Estimate#<span><img id="estimate" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <!--<img src="./assets/images/dropdown-arrow-primary.png" alt="">-->
        <td ng-click = "sortByRefNo()" class="layout-padding text-uppercase text-info">Reference#<span><img id="refno" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <td ng-click = "sortByCustomerName()" class="layout-padding text-uppercase text-info">Customer Name<span><img id="cusname" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <td ng-click = "sortByStatus()" class="layout-padding text-uppercase text-info">Status<span><img id="status" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
        <td ng-click = "sortByAmount()" class="layout-padding text-uppercase text-info">Amount<span><img id="amount" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span></td>
      </tr>
      <tr class="trow" ng-repeat="estimate in estimateList"
        ui-sref="dashboard.sales.estimates.details({estimateId:estimate.entity.id})">
        <td class="layout-padding text-color-light">{{estimate.estimateDate}}</td>
        <td class="layout-padding text-color-light">{{estimate.entity.estimateNumber}}</td>
        <td class="layout-padding text-color-light">{{estimate.entity.referenceNumber}}</td>
        <td class="layout-padding text-color-light">{{estimate.customer.displayName}}</td>
        <td class="layout-padding"><span class="{{estimate.statusClass}}">{{estimate.entity.status}}</span></td>
        <td class="layout-padding text-color-light">{{estimate.totalAmount}}</td>
      </tr>
    </table>
  </div>
<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
