<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>
  <div class="container hidesm">

    <h3 class="float-left section-title text-uppercase text-color-normalize layout-margin-tb">New Estimate</h3>
    <div class="clearfix"></div>
    <hr>
    <form id="addEstimateForm" novalidate class="inputs-white layout-margin-b">
      <div class="input-container col-60 layout-margin-b">
        <label class="layout-padding-t-sm">Customer Name</label>
        <select name="customer" class="col-75" ng-model="selectedCustomer" ng-change="customerChanged()"
          ng-options="customer.entity.displayName for customer in customers">
          <option value="" disabled>Select customer to estimate</option>
        </select>
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="padding-t-sm">Estimate #</label>
        <input name="estimateNumber" class="col-75" type="text" ng-model="estimateNo"> <!--ng-disabled="disableEstNo"-->
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="padding-t-sm">Referenece #</label>
        <input class="col-75" type="text" ng-model="refNumber">
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="padding-t-sm">Estimate Date</label>
        <input name="estimateCreateDate" class="col-75 form-control" type="text" readonly
          uib-datepicker-popup="MM-dd-yyyy" ng-model="todayDate" is-open="openPicker1" ng-click="openDatePicker(1)">
      </div>
      <!--
      <div class="input-container col-60 layout-margin-b">
        <label class="padding-t-sm">Expiration Date</label>
        <input class="col-75" type="date" placeholder="MM/DD/YYYY">
      </div>
    -->
      <div class="input-container col-60 layout-margin-b" ng-show="showSalesPerson">
        <label class="layout-padding-t-sm">Sales Person</label>
        <input class="col-75" type="text" ng-model="salesPerson">
      </div>
    </form>

    <div class="clearfix"></div>
    <br>

    <div class="container container-table layout-margin-t">
      <div class="thead layout-padding">
        <div class="col-30 ">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Item Details</h3>
        </div>
        <div class="col-12 layout-padding-l">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Quantity</h3>

        </div>
        <div class="col-12 layout-padding-l">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Rate</h3>
        </div>
        <div class="col-12 layout-padding-l" ng-show="itemLevelTax">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Discount</h3>
        </div>
        <div class="col-12 layout-padding-l">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Tax</h3>
        </div>
        <div class="col-16 layout-padding-l text-center">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize">Amount</h3>
        </div>
        <div class="col-5 layout-padding-l">
          <h3 class="text-weight-normalize layout-no-margin text-uppercase text-color-normalize"></h3>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="tbody no-border inputs-white">

      <form id="itemInfoForm" novalidate>
        <div class="table-row" ng-repeat="estItem in estimateItems">

          <div class="col-30 layout-padding">
            <i class="icons float-left"><img src="./assets/images/handle.png" alt=""></i>
            <select tri:fix-input-name name="item{{$index}}" class="check-item" ng-model="estItem.selectedItem"
              ng-options="item.entity.title for item in items" ng-change="itemChanged($index)">
              <option value="" disabled>Select or Type to add</option>
            </select>
          </div>
          <div class="col-12 layout-padding layout-padding-l text-right">
            <input tri:fix-input-name name="qty{{$index}}" class="check-qty" type="number" placeholder="1"
            ng-model="estItem.quantity" ng-change="reCalculateItemAmount($index)">
          </div>
          <div class="col-12 layout-padding layout-padding-l text-right">
            <input tri:fix-input-name name="rate{{$index}}" class="check-rate" type="number"
              placeholder="10.00" ng-model="estItem.rate" ng-change="reCalculateItemAmount($index)">
          </div>
          <div class="col-12 layout-padding layout-padding-l text-right" ng-show="itemLevelTax">
            <input tri:fix-input-name name="discount{{$index}}" class="check-discount" type="number"
              placeholder="10.00" ng-model="estItem.discount" ng-change="reCalculateItemAmount($index)">
          </div>
          <div class="col-12 layout-padding layout-padding-l">
            <select ng-model="estItem.selectedTax" ng-options="tax.name for tax in taxes"
              ng-change="reCalculateItemAmount($index)">
              <option value="">None</option>
             <!-- <option value="1">1</option>
              <option value="2">2</option> -->
            </select>
          </div>
          <div class="col-16 layout-padding layout-padding-l text-center">
            <p class="layout-no-margin">{{estItem.amount | currency:$:2}}</p>
          </div>
          <div class="col-5 layout-padding layout-padding-l text-right">
            <button class="button button-icon button-no-margin" ng-click="removeEstimateItem($index)"><img src="./assets/images/icon-times-round.png" alt=""></button>
          </div>

        </div>
      </form>

        <a href="javascript:" class="button layout-margin-tb" ng-click="addEstimateItem()">
          + Add another item</a>
        <hr>
        <div class="col-60 pull-right">
          <div class="col-25">Sub Total</div>
          <div class="col-65 text-right">{{subTotalStr}}</div>
          <br>
          <form id="extrasForm" class="inputs-white">
            <div class="input-container layout-margin-tb" ng-show="invoiceLevelTax">
              <label class="layout-padding-t-smm">Discount (%)</label>
              <input name="discount" type="number" class="col-30" ng-model="discount"
                ng-change="reCalculateTotal()">
              <label class="col-35 text-right layout-padding-t-smm">{{discountStr}}</label>
            </div>
            <div class="input-container layout-margin-tb" ng-show="showShippingCharges">
              <label class="layout-padding-t-smm">Shipping Charges</label>
              <input name="shipCharges" type="number" class="col-30" ng-model="shippingCharges"
                ng-change="reCalculateTotal()">
              <label class="col-35 text-right layout-padding-t-smm">{{shippingChargesStr}}</label>
            </div>
            <div class="input-container input-info layout-margin-tb" ng-show="showAdjustments">
              <label class="layout-padding-t-smm">Adjustment</label>
              <input name="adjustment" type="number" class="col-30" ng-model="adjustments"
                ng-change="reCalculateTotal()">
              <span class="info-icon info-icon-gray estimates-custom-info-icon"></span>
              <p class="info-tooltip tooltip-dark info-left estimates-custom-tooltip">
                Add any additional adjustments needed for the total amount ex: +5 or -5
              </p>
              <label class="col-35 text-right layout-padding-t-smm">{{adjustmentsStr}}</label>
            </div>
          </form>
        </div>
        <div class="table-row row-border layout-padding layout-margin-tb">
          <div class="col-60 pull-right">
            <div class="col-25"><h3 class="layout-no-margin text-uppercase text-weight-normalize">Total</h3></div>
            <div class="col-65 text-right"><h3 class="layout-no-margin text-uppercase text-weight-normalize">
            {{totalStr}}</h3></div>
          </div>
        </div>

        <form class="table-row col-60 layout-margin-tb">
          <div class="input-container layout-margin-b">
            <label class="col-i-30">Customer Notes</label>
            <textarea class="col-70" ng-model="notes"></textarea>
          </div>
          <div class="input-container">
            <label class="col-i-30">Terms &amp; Conditions</label>
            <textarea class="col-70" ng-model="terms"></textarea>
          </div>
          <div class="clearfix"></div>
          <br />
          <div class="input-container" ng-repeat="field in customFields">
            <label class="col-i-30">{{field.name}}</label>
            <input type="text" class="col-70" ng-model="field.value"></input>
          </div>
<!--
          <p class="col-i-30">Attach Reference File</p>
          <p class="col-70">
            <input type="file" file-model="filepicker">
          </p>
-->
          <div class="clearfix"></div>
          <p class="col-i-30">Template Used</p>
          <p class="col-70">'Standard Template' <a href="javascript:">Choose</a></p>
          <div class="clearfix"></div>

          <button class="button layout-margin-r text-uppercase button-neutral" ng-click="save()">Save As Draft</button>
          <button class="button layout-margin-r text-uppercase button-info" ng-click="saveAndSend()">Save &amp; Send</button>
          <button class="button layout-margin-r text-uppercase button-neutral" ng-click="cancel()">Cancel</button>
        </form>

      </div>
    </div>
    <div class="clearfix spacer"></div>
    <div class="spacer"></div>

  </div>
<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
