  <div class="container hidesm">
    <h3 class="section-title float-left text-uppercase text-weight-normalize text-color-normalize layout-margin-tb-lg">All Customers</h3>
    <a href="#" class="float-right button button-add text-transform modal-opener" data-toggle="add-contact-person">New</a>
    <form class="float-right layout-margin-t">
      <input type="text" class="search-bar" placeholder="Search">
    </form>

    <div class="clearfix"></div>

    <table class="customers-data no-border">
      <tr class="thead">
        <td class="layout-padding text-uppercase text-info"
            ng-repeat="title in ['Name','Co. Name','Email','Work Phone','Receivables','Credits']">{{title}}</td>
      </tr>
      <tr ng-repeat="customer in customers track by $index" ui-sref="dashboard.customers.details({customerId:$index})" style="cursor:pointer">
        <td class="layout-padding text-color-light">{{customer.entity.displayName}}</td>
        <td class="layout-padding text-color-light">{{customer.entity.companyName}}</td>
        <td class="layout-padding text-color-light">{{customer.entity.email}}</td>
        <td class="layout-padding text-color-light">{{customer.entity.phone}}</td>
        <td class="layout-padding text-color-light">{{customer.entity.outstanding}}</td>
        <td class="layout-padding text-color-light">{{customer.entity.unusedCredits}}</td>
      </tr>      
    </table>

  </div>

  <div class="popup-modal add-contact-person hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Add Contact Person</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form action="" class="layout-margin-tb inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Primary Contact</label>
            <select class="col-30 layout-margin-r">
              <option value="Salutat...">Salutat...</option>
              <option value="Option2">Option #2</option>
            </select>
            <input class="col-20" type="text" placeholder="First Name">
            <input class="col-20 pull-right" type="text" placeholder="Last Name">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Phone Number</label>
            <input class="col-35" type="number" placeholder="Work">
            <input class="col-35 pull-right" type="number" placeholder="Mobile">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Email Address</label>
            <input class="col-75" type="email" placeholder="">
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase">Save</button>
    </div>
  </div>