  <div class="container hidesm">
    <h3 class="section-title float-left text-uppercase text-weight-normalize text-color-normalize layout-margin-tb-lg">All Customers</h3>
    <a ui-sref="dashboard.customers.new" class="float-right button button-add text-transform" >New</a> <!--data-toggle="add-contact-person"-->
    <form class="float-right layout-margin-t">
    
    <input type="text" class="search-bar" placeholder="Search" ng-model="searchObject.searchText" ng-change="search()">
      
      </form>

    <div class="clearfix"></div>
<style>
      </style>
    
 
      <table class="customers-data no-border" style = "margin-bottom: 20px;">
      <tr class="thead">
        <td ng-click="sortByCustomerName()"style="cursor:pointer" class="layout-padding text-uppercase text-info">Name <span><img id="nameD" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span><span><img id="nameDUp" style="display: none" src="./assets/images/dropdown-arrow-primary_up.png"></span>
          </td>
        <td ng-click="sortByCompanyName()" style="cursor:pointer" class="layout-padding text-uppercase text-info">Co. Name <span><img id="custNameD" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span><span><img id="custNameDUp" style="display: none" src="./assets/images/dropdown-arrow-primary_up.png"></span>
          </td>
        <td ng-click="sortByEmail()" style="cursor:pointer" class="layout-padding text-uppercase text-info">Email <span><img id="emailD" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span><span><img id="emailDUp" style="display: none" src="./assets/images/dropdown-arrow-primary_up.png"></span>
          </td>
        <td ng-click="sortByPhone()" style="cursor:pointer" class="layout-padding text-uppercase text-info">Mobile Phone <span><img id="workphoneD" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span><span><img id="workphoneDUp" style="display: none" src="./assets/images/dropdown-arrow-primary_up.png"></span>
          </td>
        <td ng-click="sortByReceivable()" style="cursor:pointer" class="layout-padding text-uppercase text-info">Receivables <span><img id="receivableD" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span><span><img id="receivableDUp" style="display: none" src="./assets/images/dropdown-arrow-primary_up.png"></span>
          </td>
        <td ng-click="sortByCredits()" style="cursor:pointer" class="layout-padding text-uppercase text-info">Credits <span><img id="creditsD" style="display: none" src="./assets/images/dropdown-arrow-primary.png"></span><span><img id="creditsDUp" style="display: none" src="./assets/images/dropdown-arrow-primary_up.png"></span>
          </td>
      </tr>
<tr ng-repeat="customer in customers" ui-sref="dashboard.customers.details({customerId:customer.entity.id})" style="cursor:pointer">
    <td class="layout-padding text-color-light" ng-class="{'deactive': customer.entity.status == 'inactive'}">{{customer.entity.salutation + ' ' + customer.entity.displayName}}<span ng-show="customer.entity.status == 'inactive'"> (Deactivated)</span></td>
        <td class="layout-padding text-color-light" ng-class="{'deactive': customer.entity.status == 'inactive'}">{{customer.entity.companyName}}</td>
        <td class="layout-padding text-color-light ellipsis" ng-class="{'deactive': customer.entity.status == 'inactive'}">{{customer.entity.email}}</td>
        <td class="layout-padding text-color-light" ng-class="{'deactive': customer.entity.status == 'inactive'}">{{customer.entity.mobile}}</td>
        <td class="layout-padding text-color-light" ng-class="{'deactive': customer.entity.status == 'inactive'}">{{customer.entity.outstanding | currency : '$' : 2}}</td>
        <td class="layout-padding text-color-light" ng-class="{'deactive': customer.entity.status == 'inactive'}">{{customer.entity.unusedCredits | currency : '$' : 2}}</td>
      </tr>      
    </table>

  </div>

  <div class="popup-modal add-contact-person hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Add Contact Persons</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form action="" class="layout-margin-tb inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Primary Contact </label>
            <select class="col-30 layout-margin-r">
              <option value="Salutat...">Salutat...</option>
              <option value="Option2">Option #2</option>
            </select>
            <input class="col-20" type="text"   placeholder="First Name">
            <input class="col-20 pull-right" type="text"   placeholder="Last Name">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Phone Number</label>
            <input class="col-35" type="number" placeholder="Work">
            <input class="col-35 pull-right" type="number" placeholder="Mobile">
          </div>

          <div class="input-container layout-margin-b">
            <label  class="layout-padding-t-sm">Email Address</label>
            <input  class="col-75" maxlength = "100" type="email" placeholder="">
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase">Save</button>
    </div>
  </div>