<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Invoices Unlimited</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../dist/css/main.css">
</head>
<body>

   <header class="dashboard-header hidesm">
    <div class="container">
      <a href="../../dashboard/index.html" class="logo"><img src="../../dist/images/logo.png" alt="InvoicesUnlimited"></a>
      <div class="organization">
        <img src="../../dist/images/user-icon.png" alt="">
        <a href="#">Company Name</a>
        <img src="../../dist/images/dropdown-arrow-primary.png" alt="">
        <ul class="submenu user-submenu">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
    <ul class="navigation">
      <li><a href="../../dashboard/index.html">Dashboard</a></li>
      <li class="active"><a href="../../dashboard/customers/customers.html">Customers</a></li>
      <li>
        <a href="../../dashboard/sales/sales.html">Sales</a>
        <div class="container-fluid">
          <ul class="submenu">
            <li><a href="../../dashboard/sales/estimates/estimates.html">Estimates</a></li>
            <li><a href="../../dashboard/sales/invoices/invoices.html">Invoices</a></li>
            <li><a href="../../dashboard/sales/creditnotes/creditnotes.html">Credit Notes</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="../../dashboard/expenses/expenses.html">Expenses</a>
        <div class="container-fluid">
          <ul class="submenu">
            <li><a href="../../dashboard/expenses/record.expense.html">Expenses</a></li>
            <li><a href="../../dashboard/expenses/recurring/all.html">Recurring Expenses</a></li>
            <li><a href="../../dashboard/expenses/category/category.html">Expense Category</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../dashboard/projects/projects.html">Projects</a></li>
      <li><a href="../../dashboard/timesheets/timesheets.html">Timesheets</a></li>
      <li><a href="../../dashboard/reports/salesbycustomer.html">Reports</a></li>
      <li class="active">
        <a href="../../dashboard/settings/companyprofile.html">Settings</a>
        <div class="container-fluid">
          <ul class="submenu">
            <li>
              <a href="../../dashboard/settings/companyprofile.html">Company Profile</a>
            </li>
            <li>
              <a href="../../dashboard/settings/generalpreferences.html">General</a>
              <a href="../../dashboard/settings/invoices.html">Invocies</a>
              <a href="../../dashboard/settings/creditnotes.html">Credits</a>
              <a href="../../dashboard/settings/invoicetemplates.html">Invoice Templates</a>
              <a href="../../dashboard/settings/estimates.html">Estimates</a>
              <a href="../../dashboard/settings/payments.html">Payments</a>
            </li>
            <li>
              <a href="../../dashboard/settings/taxes.html">Taxes</a>
              <a href="../../dashboard/settings/items.html">Items</a>
              <a href="../../dashboard/settings/users.html">Users</a>
              <a href="../../dashboard/settings/currencies.html">Currency</a>
            </li>
            <li>
              <a href="../../dashboard/settings/app-preferences.html">App Preferences</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </header>

  <div class="container hidesm">
    <a href="../../dashboard/customers/customers.html" class="button-icon float-left">
      <img src="../../dist/images/icon-back.png" alt="Kappa">
    </a>
    <h3 class="float-left section-title text-uppercase text-color-normalize layout-margin-tb">Leela Turanga</h3>
    <div class="actions float-right layout-margin-tb">
      <a href="../../dashboard/customers/editcustomer.html" class="button button-small button-neutral text-uppercase layout-margin-r">Edit</a>
      <button class="button button-small button-info text-uppercase layout-margin-r">New <img src="../../dist/images/dropdown-arrow-w.png" alt="">
        <ul class="submenu list-clear layout-no-padding text-left text-normalize">
          <li><a href="">Estimate</a><li>
          <li><a href="">Invoice</a><li>
          <li><a href="">Recurring Invoicea</a></li>
          <li><a href="">Credit Notea</a></li>
          <li><a href="">Invoice Payments</a></li>
          <li><a href="">Expense</a><li>
          <li><a href="">Recurring Expensea</a></li>
          <li><a href="">Project</a><li>
        </ul>
</button>
<button class="button button-small button-neutral text-uppercase">More <img src="../../dist/images/dropdown-arrow-w.png" alt="">
  <ul class="submenu list-clear layout-no-padding text-left text-normalize">
    <li><a href="">Email Contact</a></li>
    <li><a href="">Clone</a></li>
    <li class="modal-opener" data-toggle="add-contact-person"><a href="">Add New Contact</a></li>
    <li><a href="">Delete</a></li>
  </ul>
</button>
</div>

<div class="clearfix"></div>

<ul class="tabs tabs-100 container clearfix col-no-padding">
<li class="text-center col-no-padding active" data-toggle="tab1">
  <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Overview</h4></li>
  <li class="text-center col-no-padding" data-toggle="tab2">
    <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Transactions</h4></li>
    <li class="text-center col-no-padding" data-toggle="tab3">
      <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Recent Activities</h4></li>
    </ul>
    <div class="tab container active" data-name="tab1">
      <div class="col-60 layout-margin-tb">
        <h3 class="layout-margin-t text-info text-uppercase text-weight-normalize">Primary Contact Details</h3>

        <table class="container table-no-border layout-margin-tb">
          <tr class="container text-color-light">
            <td class="col-50 layout-padding-tb">Company Name</td>
            <td class="col-50 layout-padding-tb">Planet Express</td>
          </tr><div class="clearfix"></div>
          <tr class="container text-color-light">
            <td class="col-50 layout-padding-tb">Name</td>
            <td class="col-50 layout-padding-tb">Ms. Leela Turanga</td>
          </tr><div class="clearfix"></div>
          <tr class="container text-color-light">
            <td class="col-50 layout-padding-tb">Mobile</td>
            <td class="col-50 layout-padding-tb"></td>
          </tr><div class="clearfix"></div>
          <tr class="container text-color-light">
            <td class="col-50 layout-padding-tb">Email Address</td>
            <td class="col-50 layout-padding-tb">Leela01@gmail.com</td>
          </tr><div class="clearfix"></div>
        </table>

        <br/>

        <h3 class="layout-margin-t text-info text-uppercase text-weight-normalize">Other Details</h3>

        <table class="container table-no-border layout-margin-tb">
          <tr class="container text-color-light">
            <td class="col-50 layout-padding-tb">Currency Code</td>
            <td class="col-50 layout-padding-tb">USD</td>
          </tr><div class="clearfix"></div>
          <tr class="container text-color-light">
            <td class="col-50 layout-padding-tb">Payment Terms</td>
            <td class="col-50 layout-padding-tb">Due on receipt</td>
          </tr><div class="clearfix"></div>
          <tr class="container text-color-light">
            <td class="col-50 layout-padding-tb">Billing Address</td>
            <td class="col-50 layout-padding-tb">101 Hilde Cando Thousand Oaks, CA, 91222</td>
          </tr><div class="clearfix"></div>
        </table>

        <br/>

        <h3 class="layout-margin-tb text-info text-uppercase text-weight-normalize">Receivables</h3>
        <h2 class="layout-no-margin text-positive text-weight-normalize text-uppercase">$0.00</h2>
        <p class="layout-no-margin col-no-padding ext-color-light">Outstanding</p>
      </div>
      <div class="col-40 layout-margin-tb">
        <h3 class="layout-margin-t text-info text-uppercase text-weight-normalize">Income &amp; Expense</h3>
        <img src="../../dist/images/graph3.png" alt="">
      </div>
      <div class="clearfix"></div>

      <table class="container table-border-tb">
        <tr class="text-uppercase text-color-normalize">
          <td class="layout-padding-tb">Contact Name</td>
          <td class="layout-padding-tb">Phone</td>
          <td class="layout-padding-tb">Email</td>
          <td class="layout-padding-tb"></td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-lg valign-top">Phillip Fry</td>
          <td class="layout-padding-tb-lg valign-top">M: 805-191-2832</td>
          <td class="layout-padding-tb-lg valign-top">Fry@planetexpress.com</td>
          <td class="layout-padding-tb-lg valign-top actions"><a href="../../dashboard/customers/editcustomer.html" class="action-edit">Edit</a> <button class="button button-icon"><img src="../../dist/images/icon-times-round.png" alt=""></button></td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-lg valign-top">Zapp B.</td>
          <td class="layout-padding-tb-lg valign-top">W: 805-129-1934 <br/> M: 805-201-5919</td>
          <td class="layout-padding-tb-lg valign-top"></td>
          <td class="layout-padding-tb-lg valign-top actions"><a href="../../dashboard/customers/editcustomer.html" class="action-edit">Edit</a> <button class="button button-icon"><img src="../../dist/images/icon-times-round.png" alt=""></button></td>
        </tr>
      </table>
    </div>
    <div class="tab layout-padding" data-name="tab2">
      <table class="container table-border-b">
        <tr class="text-uppercase text-info">
          <td class="layout-padding-tb-lg">Date</td>
          <td class="layout-padding-tb-lg">Invoice #</td>
          <td class="layout-padding-tb-lg">Ref. #</td>
          <td class="layout-padding-tb-lg">AMT.</td>
          <td class="layout-padding-tb-lg">Balance</td>
          <td class="layout-padding-tb-lg">Status</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl text-uppercase">12/03/2014</td>
          <td class="layout-padding-tb-xl text-uppercase">INV-000001</td>
          <td class="layout-padding-tb-xl text-uppercase"></td>
          <td class="layout-padding-tb-xl text-uppercase">$16.20</td>
          <td class="layout-padding-tb-xl text-uppercase">$0.00</td>
          <td class="layout-padding-tb-xl text-positive text-weight-normalize">Paid</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl text-uppercase">12/03/2014</td>
          <td class="layout-padding-tb-xl text-uppercase">INV-000001</td>
          <td class="layout-padding-tb-xl text-uppercase"></td>
          <td class="layout-padding-tb-xl text-uppercase">$16.20</td>
          <td class="layout-padding-tb-xl text-uppercase">$0.00</td>
          <td class="layout-padding-tb-xl text-positive text-weight-normalize">Paid</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl text-uppercase">12/03/2014</td>
          <td class="layout-padding-tb-xl text-uppercase">INV-000001</td>
          <td class="layout-padding-tb-xl text-uppercase"></td>
          <td class="layout-padding-tb-xl text-uppercase">$16.20</td>
          <td class="layout-padding-tb-xl text-uppercase">$0.00</td>
          <td class="layout-padding-tb-xl text-danger text-weight-normalize">Overdue</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl text-uppercase">12/03/2014</td>
          <td class="layout-padding-tb-xl text-uppercase">INV-000001</td>
          <td class="layout-padding-tb-xl text-uppercase"></td>
          <td class="layout-padding-tb-xl text-uppercase">$16.20</td>
          <td class="layout-padding-tb-xl text-uppercase">$0.00</td>
          <td class="layout-padding-tb-xl text-color-normalize text-weight-normalize">Unpaid</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl text-uppercase">12/03/2014</td>
          <td class="layout-padding-tb-xl text-uppercase">INV-000001</td>
          <td class="layout-padding-tb-xl text-uppercase"></td>
          <td class="layout-padding-tb-xl text-uppercase">$16.20</td>
          <td class="layout-padding-tb-xl text-uppercase">$0.00</td>
          <td class="layout-padding-tb-xl text-positive text-weight-normalize">Paid</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl text-uppercase">12/03/2014</td>
          <td class="layout-padding-tb-xl text-uppercase">INV-000001</td>
          <td class="layout-padding-tb-xl text-uppercase"></td>
          <td class="layout-padding-tb-xl text-uppercase">$16.20</td>
          <td class="layout-padding-tb-xl text-uppercase">$0.00</td>
          <td class="layout-padding-tb-xl text-color-normalize text-weight-normalize">Unpaid</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl text-uppercase">12/03/2014</td>
          <td class="layout-padding-tb-xl text-uppercase">INV-000001</td>
          <td class="layout-padding-tb-xl text-uppercase"></td>
          <td class="layout-padding-tb-xl text-uppercase">$16.20</td>
          <td class="layout-padding-tb-xl text-uppercase">$0.00</td>
          <td class="layout-padding-tb-xl text-danger text-weight-normalize">Paid</td>
        </tr>
      </table>
    </div>
    <div class="tab layout-padding" data-name="tab3">
      <table class="container table-border-b">
        <tr class="text-uppercase text-info">
          <td class="layout-padding-tb-lg">Date</td>
          <td class="layout-padding-tb-lg">Details</td>
          <td class="layout-padding-tb-lg">Users <img src="../../dist/images/dropdown-arrow-primary.png" alt=""></td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl">12/03/2014 02:22 PM</td>
          <td class="layout-padding-tb-xl">Contact updated</td>
          <td class="layout-padding-tb-xl">John</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl">12/03/2014 02:22 PM</td>
          <td class="layout-padding-tb-xl">Contact updated</td>
          <td class="layout-padding-tb-xl">John</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl">12/03/2014 02:22 PM</td>
          <td class="layout-padding-tb-xl">Contact updated</td>
          <td class="layout-padding-tb-xl">John</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl">12/03/2014 02:22 PM</td>
          <td class="layout-padding-tb-xl">Contact updated</td>
          <td class="layout-padding-tb-xl">John</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl">12/03/2014 02:22 PM</td>
          <td class="layout-padding-tb-xl">Contact updated</td>
          <td class="layout-padding-tb-xl">John</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl">12/03/2014 02:22 PM</td>
          <td class="layout-padding-tb-xl">Contact updated</td>
          <td class="layout-padding-tb-xl">John</td>
        </tr>
        <tr class="text-color-light">
          <td class="layout-padding-tb-xl">12/03/2014 02:22 PM</td>
          <td class="layout-padding-tb-xl">Contact updated</td>
          <td class="layout-padding-tb-xl">John</td>
        </tr>
      </table>
    </div>

  </div>

  <div class="popup-modal add-contact-person hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Add Contact Person</h3>
      <button class="button button-icon float-right modal-close button-no-margin"><img src="../../dist/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form action="" class="layout-margin-tb inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Primary Contact</label>
            <select class="col-30 layout-margin-r">
              <option value="Salutat...">Salutat...</option>
              <option value="Option2">Option #2</option>
            </select>
            <input class="col-20" type="text" placeholder="First Name">
            <input class="col-20 pull-right" type="text" placeholder="Last Name">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Phone Number</label>
            <input class="col-35" type="number" placeholder="Work">
            <input class="col-35 pull-right" type="number" placeholder="Mobile">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Email Address</label>
            <input class="col-75" type="email" placeholder="">
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase">Save</button>
    </div>
  </div>
  
  <div class="onmobile">
    <h2>Need to work on a Mobile ? Download our app!</h2>
    <a href="#"><img src="../../dist/images/google-play-icon.png" alt="Google Play"></a>
    <a href="#"><img src="../../dist/images/AppStore.png" alt="Google Play"></a>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="../../dist/js/main.js"></script>
</body>
</html>
