<div class="overlay tutorial">
    <section class="sign-up text-center">
    
        <h1><strong>STEP 5</strong></h1>
        
        <label>Add customers.</label>
        
        <a href="" ng-click="nextClicked();" class="button button-primary button-next">Next</a>
        
        <a ng-click="skipTutorial();" href="javascript:" class="skip-tutorial" >SKIP</a>
        
    </section>
</div>
<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>

<div ui-view="customersView"></div>

<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>