  <div class="container hidesm">
    <h3 class="text-uppercase text-weight-normalize text-color-normalize layout-margin-t">New Customer</h3>
    <hr class="layout-margin-tb">

    <form class="col-60 inputs-white" id="new-customer-form" novalidate>

      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-sm">Primary Contact</label>
        <select class="layout-margin-t col-30 layout-margin-r" ng-model="newCustomer.entity.salutation">
          <option value="" selected>None</option>
          <option value="Ms.">Ms.</option>
          <option value="Mr.">Mr.</option>
        </select>
        <input class="col-20  layout-margin-r" type="text" placeholder="First Name" ng-model="newCustomer.entity.firstName"/>
        <input class="col-20" type="text" placeholder="Last Name" 
               ng-model="newCustomer.entity.lastName"/>
      </div>

      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-sm">Company Name</label>
        <input class="col-75 pull-right" type="text" placeholder="Company Name" ng-model="newCustomer.entity.companyName"/>
      </div>

      <div class="input-container input-info input-select-info layout-margin-b">
        <label class="layout-padding-t-sm">Display Name</label>
        <input class="col-75 pull-right" ng-click="displayNameClicked = true;" type="text" placeholder="Display Name" ng-model="newCustomer.entity.displayName" name="displayName"/>
        <span class="info-icon info-icon-gray"></span>
        <p class="info-tooltip tooltip-dark">
          This is the name that will display for this contact for invoices, estimates, &amp; projects.
        </p>
      </div>

      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-sm">Phone Number</label>
        <input type="text" placeholder="Work Phone" ng-model="newCustomer.entity.phone" class="col-35" id="workPhone"/>
        <input type="text" placeholder="Mobile" id="mobilePhone" ng-model="newCustomer.entity.mobile" class="col-35 pull-right">
      </div>

      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-sm">Email Address</label>
        <input name="email" type="text" placeholder="Email" ng-model="newCustomer.entity.email" class="col-75"/>
      </div>

    </form>

    <div class="clearfix"></div>

    <ul class="tabs tabs-100 container clearfix col-no-padding layout-margin-tb-lg">
      <li class="text-center col-no-padding active" data-toggle="tab1">
        <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Payment Details</h4></li>
      <li class="text-center col-no-padding" data-toggle="tab2">
        <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Address</h4></li>
        <li class="text-center col-no-padding" data-toggle="tab4">
          <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Notes</h4></li>
    </ul>

    <div class="container tab active" data-name="tab1">

      <form class="col-60 inputs-white" id="payment-details-form">
        <div class="input-container layout-margin-b">
          <label class="layout-padding-t">Currency</label>
          <select class="col-75 layout-margin-tb" ng-model="newCustomer.entity.currency">
            <option value="USD - US Dollar">USD - US Dollar</option>
            <option value="EUR - Euro">EUR - Euro</option>
            <option value="DKK - Danish Krone">DKK - Danish Krone</option>
          </select>
        </div>
        <div class="input-container layout-margin-b">
          <label class="layout-padding-t">Payment Terms</label>
          <select class="col-75 layout-margin-t-sm" ng-model="newCustomer.entity.paymentTerms">
            <option value="" disabled>Select your terms</option>
            <option value="Due on Receipt">Due on Receipt</option>
            <option value="Net 7">Net 7</option>
            <option value="Net 10">Net 10</option>
            <option value="Net 30">Net 30</option>
            <option value="Net 60">Net 60</option>
            <option value="Net 90">Net 90</option>
          </select>
        </div>
      </form>
      <div class="clearfix layout-margin-tb-lg"> </div>

    </div>

    <div class="container tab" data-name="tab2">
      <h3 class="layout-margin-tb text-weight-normalize text-color-normalize">Billing Address</h3>
      <div class="clearfix"></div>
      <form class="col-60 inputs-white" id="address-form">
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t-sm">Street</label>
          <input type="text" class="col-75" ng-model="newCustomer.billingAddress.Street">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t-sm">City</label>
          <input type="text" class="col-75" ng-model="newCustomer.billingAddress.City">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t-sm">State</label>
          <input type="text" class="col-75" ng-model="newCustomer.billingAddress['State\/Province']">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t-sm">Zip Code</label>
          <input type="text" class="col-75" ng-model="newCustomer.billingAddress['Zip\/Postal Code']">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t-sm">Country</label>
          <input type="text" class="col-75" ng-model="newCustomer.billingAddress.Country">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t-sm">Fax</label>
          <input type="text" class="col-75" ng-model="newCustomer.billingAddress.Fax">
        </div>
        <div class="clearfix"></div><br>
        <label class="input-container input-checkbox-container layout-margin-tb">
          <label>Shipping Address</label>
          <div class="col-75 layout-padding-t-sm">
            <p class="float-right layout-no-padding">Same as Billing Address</p>
            <input type="checkbox" ng-model="shipping.setShippingTheSame" ng-click="setShippingAddress()">
            <span class="checkbox float-right layout-margin-r"></span>
          </div>
        </label>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t">Street</label>
          <input type="text" class="col-75" ng-model="newCustomer.shippingAddress.Street">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t">City</label>
          <input type="text" class="col-75" ng-model="newCustomer.shippingAddress.City">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t">State</label>
          <input type="text" class="col-75" ng-model="newCustomer.shippingAddress['State\/Province']">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t">Zip Code</label>
          <input type="text" class="col-75" ng-model="newCustomer.shippingAddress['Zip\/Postal Code']">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t">Country</label>
          <input type="text" class="col-75" ng-model="newCustomer.shippingAddress.Country">
        </div>
        <div class="input-container layout-margin-t-sm">
          <label class="layout-padding-t">Fax</label>
          <input type="text" class="col-75" ng-model="newCustomer.shippingAddress.Fax">
        </div>
      </form>

    </div>

    <div class="container tab" data-name="tab4">
      <div class="col-20">
        <p class="text-color-normalize text-weight-normalize layout-no-padding layout-no-margin">Notes <br/><span class="text-color-light">(For Internal Use Only)</span></p>
      </div>

      <form class="col-40 inputs-white" id="notes-form">
        <div class="input-container">
          <textarea ng-model="newCustomer.entity.notes"></textarea>
        </div>
      </form>
    </div>

    <div class="clearfix layout-margin-tb-lg spacer"></div>
    <button ng-click="saveCustomer();" class="button button-info text-uppercase layout-margin-r">Save</button>
    <button ng-click="cancelSaveCustomer();" class="button button-neutral text-uppercase">Cancel</button>

  </div>

  <div class="spacer hidesm"></div>
