 <header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>

  <div class="container hidesm">
    <h3 class="layout-margin-t section-title">Company Profile</h3>
    <hr>

    <form class="inputs-white col-60">
      <div class="input-container input-container-upload layout-margin-b">
        <label class="layout-padding-t-smm">Company Logo</label>
        <img class="col-35" ng-show="tempLogo" style="width: 60px;" ng-src="{{tempLogo}}"/>
          
          <label ng-show="tempLogo" style="margin-left:20px !important; min-width: 0%; margin-top: 12px;">
              <button class="button button-icon button-no-margin" ng-click="removeLogo()">
              <img src="./assets/images/icon-times-round.png" alt=""></button>
            </label>
          
        <label class="upload-container col-75" ng-hide="tempLogo">
            <span>Upload Your Logo</span>
            <input onchange="angular.element(this).scope().addNewLogo(this)" id="newLogo" type="file">
        </label>
      </div>
        <div ng-show="tempLogo" class="input-container layout-margin-b">
        <label class="layout-padding-t-smm"></label>
        <label style=" min-width: 0%">
              <input type="file" onchange="angular.element(this).scope().addNewLogo(this)" style="display: none;" accept=".png,.jpg,.jpeg">
              <div class="layout-margin-t button button-no-bg" style="margin: 0px !important; margin-left: -10px !important; text-transform: none;">Change Logo</div>
            </label>
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Name</label>
        <input maxlength="60" class="col-75" type="text" ng-model="UserInfo.name">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Email</label>
        <input class="col-75" type="text" ng-model="UserInfo.email">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Username</label>
        <input maxlength="60" class="col-75" type="text" ng-model="UserInfo.username">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Change Password</label>
          <button class="button button-default" style="height: 33px !important;" ng-click="showModal()">Change Password</button>
          <!--
        <select class="col-75">
          <option value="null" selected disabled>Select</option>
        </select>
-->
      </div>
    </form>

    <div class="clearfix"></div>
    <br>

    <h3 class="text-info text-weight-normalize text-uppercase layout-margin-tb">Company Details</h3>
      <div ng-hide="businessInfo">
      <form class="inputs-white col-60">
      
          <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Business Name</label>
        <input maxlength="60" class="col-75" type="text" ng-model="bsnsInfo.businessName" placeholder="Business Name">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Street</label>
        <input maxlength="60" class="col-75" type="text" ng-model="bsnsInfo.streetName" placeholder="Street Name">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">City</label>
        <input maxlength="60" class="col-75" type="text" ng-model="bsnsInfo.city" placeholder="City">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">State</label>
        <input maxlength="60" class="col-75" type="text" ng-model="bsnsInfo.state" placeholder="State">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Zip Code</label>
        <input maxlength="60" class="col-75" type="text" ng-model="bsnsInfo.zipCode" placeholder="Zip Code">
      </div>
    
      </form>
          </div>

    <div ng-show="businessInfo" class="col-60">
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">Business Name</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.businessName || 'Business Name Placeholder'"></p>

      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">Street</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.streetName || 'Street Name Placeholder'"></p>

      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">City</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.city || 'City Placeholder'"></p>

      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">State</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.state || 'State Placeholder'"></p>

      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">Zip Code</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.zipCode || 'Zip Code Placeholder'"></p>
    </div>
    <div class="clearfix spacer"></div>
    <button ng-click="saveBusiness();" style = "margin-bottom: 20px;"class="button button-info text-uppercase">Save</button>
  </div>
<div class="popup-modal changepasswrod hidesm" id="changePasswordModal">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Change Password</h3>
      <button ng-click="closeModal();" class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form id="changePasswordForm" class="layout-margin-tb col-100 inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Existing Password</label>
            <input maxlength="60" name="existingPassword" type="password" class="col-75" ng-model="existingPassword">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">New Password</label>
            <input maxlength="60" name="newPassword" type="password" class="col-75" ng-model="newPassword">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Confirm Password</label>
            <input maxlength="60" name="confirmPassword" type="password" class="col-75" ng-model="confirmPassword">
          </div>
          
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-info text-uppercase" ng-click="updatePassword()">Update Password</button>
    </div>
  </div>

  <div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
