 <header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>

  <div class="container hidesm">
    <h3 class="layout-margin-t section-title">Company Profile</h3>
    <hr>

    <form class="inputs-white col-60">
      <div class="input-container input-container-upload layout-margin-b">
        <label class="layout-padding-t-smm">Company Logo</label>
        <img class="col-35" ng-show="org" ng-src="{{org.logo.url()}}"/>
        <label class="upload-container col-75" ng-hide="org">
            <span>Upload Your Logo</span>
            <input type="file">
        </label>
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Name</label>
        <input class="col-75" type="text" ng-model="UserInfo.name">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Email</label>
        <input class="col-75" type="text" ng-model="UserInfo.email">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Username</label>
        <input class="col-75" type="text" ng-model="UserInfo.username">
      </div>
      <div class="input-container layout-margin-b">
        <label class="layout-padding-t-smm">Change Pasword</label>
        <select class="col-75">
          <option value="null" selected disabled>Select</option>
        </select>
      </div>
    </form>

    <div class="clearfix"></div>
    <br>

    <h3 class="text-info text-weight-normalize text-uppercase layout-margin-tb">Company Details</h3>

    <div class="col-60">
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">Business Name</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.businessName || 'Business Name Placeholder'"></p>

      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">Street</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.streetName || 'Street Name Placeholder'"></p>

      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">City</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.city || 'City Placeholder'"></p>

      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">State</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.state || 'State Placeholder'"></p>

      <p class="layout-margin-tb layout-no-padding text-color-normalize col-25">Zip Code</p>
      <p class="layout-margin-tb layout-no-padding text-color-normalize col-75" ng-bind="businessInfo.zipCode || 'Zip Code Placeholder'"></p>

    </div>

    <div class="clearfix spacer"></div>

    <button class="button button-info text-uppercase">Save</button>

  </div>

  <div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
