  <header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>
  <div class="container hidesm">
    <h3 class="layout-margin-t section-title float-left">Currencies</h3>
    <a href="#" class="float-right layout-margin-tb button button-add text-transform modal-opener" data-toggle="edit-currency">New</a>
    <form class="float-right layout-margin-tb">
      <input type="text" class="search-bar layout-margin-r" placeholder="Search">
    </form>

    <table class="table-border-tb">
      <tr class="thead">
        <td class="text-uppercase text-info layout-padding">Name</td>
        <td class="text-uppercase text-info layout-padding">Symbol</td>
        <td class="text-uppercase text-info layout-padding">Exchange Rate <img src="./assets/images/dropdown-arrow-primary.png" alt=""></td>
        <td class="text-uppercase text-info layout-padding">Date</td>
        <td class="is-active-head"></td>
        <td class="text-uppercase text-info layout-padding text-right"></td>
      </tr>
      <tr>
        <td class="text-color-light text-weight-normalize layout-padding">USD - US Dollar</td>
        <td class="text-color-light text-weight-normalize layout-padding">&dollar;</td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="is-active no"><img src="./assets/images/icon-tick-circle.png" alt=""></td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"><img src="./assets/images/icon-times-round.png" alt="" /></td>
      </tr>
      <!--
      <tr>
        <td class="text-color-light text-weight-normalize layout-padding">AUD - Australian Dollar</td>
        <td class="text-color-light text-weight-normalize layout-padding">&dollar;</td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="is-active no"></td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"><img src="./assets/images/icon-times-round.png" alt="" /></td>
      </tr>
      <tr>
        <td class="text-color-light text-weight-normalize layout-padding">CAD - Canadian Dollar</td>
        <td class="text-color-light text-weight-normalize layout-padding">&dollar;</td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="is-active no"></td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"><img src="./assets/images/icon-times-round.png" alt="" /></td>
      </tr>
      <tr>
        <td class="text-color-light text-weight-normalize layout-padding">CNY - Yuan Renminbi</td>
        <td class="text-color-light text-weight-normalize layout-padding">CNY</td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="is-active no"></td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"><img src="./assets/images/icon-times-round.png" alt="" /></td>
      </tr>
      <tr>
        <td class="text-color-light text-weight-normalize layout-padding">EUR - Euro</td>
        <td class="text-color-light text-weight-normalize layout-padding">&euro;</td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="is-active no"></td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"><img src="./assets/images/icon-times-round.png" alt="" /></td>
      </tr>
      <tr>
        <td class="text-color-light text-weight-normalize layout-padding">GBP - Pound Sterling</td>
        <td class="text-color-light text-weight-normalize layout-padding">&pound;</td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="is-active no"></td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"><img src="./assets/images/icon-times-round.png" alt="" /></td>
      </tr>
      <tr>
        <td class="text-color-light text-weight-normalize layout-padding">INR - Indian Rupee</td>
        <td class="text-color-light text-weight-normalize layout-padding">Rs.</td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="is-active no"></td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"><img src="./assets/images/icon-times-round.png" alt="" /></td>
      </tr>
      <tr>
        <td class="text-color-light text-weight-normalize layout-padding">JPY - Yen</td>
        <td class="text-color-light text-weight-normalize layout-padding">&yen;</td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="is-active no"></td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"><img src="./assets/images/icon-times-round.png" alt="" /></td>
      </tr>
      <tr>
        <td class="text-color-light text-weight-normalize layout-padding">ZAR - Rand</td>
        <td class="text-color-light text-weight-normalize layout-padding">R</td>
        <td class="text-color-light text-weight-normalize layout  -padding"></td>
        <td class="text-color-light text-weight-normalize layout-padding"></td>
        <td class="is-active yes"></td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"><img src="./assets/images/icon-times-round.png" alt="" /></td>
      </tr>
      -->
    </table>

  </div>


  <div class="popup-modal new-currency hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Add Currency</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form class="layout-margin-tb col-100 inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Currency Code</label>
            <select class="col-75">
              <option value="select" disabled selected>Select or Type to add</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Currency Symbol</label>
            <select class="col-75">
              <option value="select" disabled selected>Select or Type to add</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Decimal Places</label>
            <input type="text" class="col-75" placeholder="Type to add">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Format</label>
            <select class="col-75">
              <option value="select" disabled selected>Select format</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Exchange Rate</label>
            <input type="text" class="col-75" placeholder="Type to add">
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-info text-uppercase">Save</button>
    </div>
  </div>

  <div class="popup-modal edit-currency hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Edit Currency</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form class="layout-margin-tb col-100 inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Currency Code</label>
            <select class="col-75">
              <option value="select" selected>EUR - Euro</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Currency Symbol</label>
            <select class="col-75">
              <option value="select" selected>&euro;</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Decimal Places</label>
            <input type="text" class="col-75" placeholder="Type to add" value="2">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Format</label>
            <select class="col-75">
              <option value="select" selected>123,456,789</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Exchange Rate</label>
            <input type="text" class="col-75" placeholder="Type to add">
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-info text-uppercase float-left">Save</button>
      <button class="button button-danger text-uppercase float-right">Delete</button>
      <button class="button button-neutral text-uppercase float-right layout-margin-r">Set as Default</button>
      <div class="clearfix"></div>
    </div>
  </div>
<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>
