  <header class="dashboard-header hidesm" ng-include src="'./app/dashboard/templates/headerNav.html'"></header>

  <div class="container hidesm">

    <h3 class="layout-margin-t section-title">Invoice Templates</h3>
    <hr>

    <div class="col-50">
      <img src="../../dist/images/template1.png" alt="">
      <p>Template 1</p>
      <div class="text-center">
        <button class="button button-info text-uppercase">Set as Default</button>
      </div>
    </div>
    <div class="col-50 text-right">
      <img src="../../dist/images/template2.png" class="pull-right" alt="">
      <p class="text-left">Template 2</p>
      <div class="text-center">
        <button class="button button-info text-uppercase">Set as Default</button>
      </div>
    </div>

  </div>

  
  <div class="onmobile">
    <h2>Need to work on a Mobile ? Download our app!</h2>
    <a href="#"><img src="../../dist/images/google-play-icon.png" alt="Google Play"></a>
    <a href="#"><img src="../../dist/images/AppStore.png" alt="Google Play"></a>
  </div>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="../../dist/js/moment.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
  <script src="../../dist/js/main.js"></script>
</body>
</html>
