  <header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>

  <div class="container hidesm">
    <h3 class="layout-margin-t section-title">Invoices</h3>
    <hr/>
    <form id="settingsForm" class="inputs-white col-60">
      <div class="input-container input-radio-container layout-margin-b">
        <label class="col-25">Include Thank you Note on Receipt</label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="thankyounote" value="yes">
            <span class="radio"></span>
          </span>
          Yes
        </label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="thankyounote" value="no" checked>
            <span class="radio"></span>
          </span>
          No
        </label>
      </div>

      <div class="clearfix"></div>
      <br>
      <h3 class="text-uppercase text-weight-normalize layout-margin-tb">Invoice Number</h3><br>

      <div class="input-container input-radio-container layout-margin-b">
        <label class="col-25">Auto Generation</label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="autogeneration" value="yes" ng-model="invoiceAg">
            <span class="radio"></span>
          </span>
          Yes
        </label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="autogeneration" value="no" ng-model="invoiceAg">
            <span class="radio"></span>
          </span>
          No
        </label>
      </div>

      <div class="input-container layout-margin-b" ng-show="invoiceAg == 'yes'">
        <label class="layout-padding-t-smm">Prefix</label>
        <input name="prefix" type="text" class="col-75" value="INV-" ng-model="prefix">
      </div>
      <div class="input-container layout-margin-b" ng-show="invoiceAg == 'yes'">
        <label class="layout-padding-t-smm">Next Number</label>
        <input name="nextNumber" type="text" class="col-75" value="000002" ng-model="nxtNumber">
      </div>

      <div class="clearfix"></div>

      <br>
      <h3 class="text-uppercase text-weight-normalize layout-margin-tb">Discounts</h3><br>

      <div class="input-container input-radio-container layout-margin-b">
        <label class="layout-padding-t-sm col-55">
          <span class="layout-margin-r">
            <input type="radio" name="discounts" value="nodiscounts" ng-model="discounts">
            <span class="radio"></span>
          </span>
          No Discount
        </label>
        <label class="layout-padding-t-sm col-55">
          <span class="layout-margin-r">
            <input type="radio" name="discounts" value="atindividual" ng-model="discounts">
            <span class="radio"></span>
          </span>
          At Individual Item Level
        </label>
        <label class="layout-padding-t-sm col-55">
          <span class="layout-margin-r">
            <input type="radio" name="discounts" value="atinvoicelevel" ng-model="discounts">
            <span class="radio"></span>
          </span>
          At Invoice Level
        </label>
        <div ng-show="discounts == 'atinvoicelevel'">
          <label style="display:none;"> </label>
          <label style="padding: 0 30px 0;">
          <span class="layout-margin-r">
            <input name="discntplace" type="radio" name="discountplace" value="before" ng-model="discountPlace">
            <span class="radio"></span>
          </span>
          Before Tax
        </label>

        <label style="padding: 0 30px 0;">
          <span class="layout-margin-r">
            <input name="discntplace" type="radio" name="discountplace" value="after" ng-model="discountPlace">
            <span class="radio"></span>
          </span>
          After Tax
        </label>

        </div>
      </div>

      <div class="clearfix"></div>
      <br>
      <h3 class="text-uppercase text-weight-normalize layout-margin-tb">Late Fee</h3><br>
      <!--
      <div class="input-container input-radio-container layout-margin-b">
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="latefee" value="yes" ng-model="showLateFee">
            <span class="radio"></span>
          </span>
          Yes
        </label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="latefee" value="no" ng-model="showLateFee">
            <span class="radio"></span>
          </span>
          No
        </label>
      </div>
      -->
      <a class="modal-opener" data-toggle="add-latefee" ng-click="prepareAddFeeForm()"
        href="javascript:">+ Add New</a>
      <div class="clearfix"></div>
      
      <div> <!--ng-show="showLateFee == 'yes'"-->
      <br/>
      <select class="col-45 ellipsis"
        ng-options="fee for fee in feeList" ng-model="selectedFee">
          <option value="" selected>List of late fee</option>
      </select>
      <button class="button button-info text-uppercase modal-opener" ng-click="prepareEditFeeForm()"
        ng-show="selectedFee" data-toggle="edit-latefee" style="margin-left:10px; margin-top:4px;">Edit</button>
    </div>

      <div class="clearfix"></div>

      <br>
      <h3 class="text-uppercase text-weight-normalize layout-margin-tb">Additional Charges</h3><br>

      <div class="input-container input-radio-container layout-margin-b">
        <label class="col-25">Shipping Charges</label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="shippingcharges" value="yes" ng-model="shipCharges">
            <span class="radio"></span>
          </span>
          Yes
        </label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="shippingcharges" value="no" ng-model="shipCharges">
            <span class="radio"></span>
          </span>
          No
        </label>
      </div>
      <div class="input-container input-radio-container layout-margin-b">
        <label class="col-25">Adjustments</label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="adjustments" value="yes" ng-model="adjustments">
            <span class="radio"></span>
          </span>
          Yes
        </label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="adjustments" value="no" ng-model="adjustments">
            <span class="radio"></span>
          </span>
          No
        </label>
      </div>

      <div class="clearfix"></div>
      <br>

      <h3 class="text-uppercase text-weight-normalize layout-margin-tb">Sales Person</h3><br>

      <div class="input-container input-radio-container layout-margin-b">
        <label class="col-25">Add a Field for Sales Person</label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="salesperson" value="yes" ng-model="salesPerson">
            <span class="radio"></span>
          </span>
          Yes
        </label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="salesperson" value="no" ng-model="salesPerson">
            <span class="radio"></span>
          </span>
          No
        </label>
      </div>

      <div class="clearfix"></div>

      <br>
      <h3 class="text-uppercase text-weight-normalize layout-margin-tb">Custom Fields</h3><br>

      <div class="input-container input-radio-container layout-margin-b"
        ng-repeat="field in customFields track by field.name">
        <input type="checkbox" style="box-sizing:initial; width: 14px; float: left; margin-right: 9px;" ng-model="field.checked">
        <label>Show in Invoice</label>
        <label class="col-25">Custom Field {{$index+1}}</label>
        <input tri:fix-input-name name="name{{$index}}" style="width: 40% !important;" class="col-45 check-name" type="text"
          ng-model="field.name">
        <button class="button button-icon button-no-margin" ng-click="removeField($index)"><img src="./assets/images/icon-times-round.png" alt=""></button>
      </div>
      <!--
      <div class="input-container input-radio-container layout-margin-b">
        <label class="col-25">Custom Field 2</label>
        <input type="text" class="col-75">
      </div>
      <div class="input-container input-radio-container layout-margin-b">
        <label class="col-25">Custom Field 3</label>
        <input type="text" class="col-75">
      </div>
      -->
      <a href="javascript:" ng-click="addField()">+ Add New</a>

      <div class="clearfix"></div>
      <br>

      <h3 class="text-uppercase text-weight-normalize layout-margin-tb">Notes &amp; Terms</h3><br>

      <div class="input-container input-radio-container layout-margin-b">
        <label class="col-25">Invoice Notes</label>
        <textarea class="col-75" ng-model="notes"></textarea>
      </div>
      <div class="input-container input-radio-container layout-margin-b">
        <label class="col-25">Terms &amp; Conditions</label>
        <textarea class="col-75" ng-model="terms"></textarea>
      </div>

      <div class="clearfix spacer"></div>
      <button class="button button-info text-uppercase" ng-click="save()">Save</button>
    </form>
    <div class="clearfix spacer"></div>

    <div class="popup-modal add-latefee hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Add Late Fee</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form id="addLateFeeForm" class="layout-margin-tb col-100 inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Name</label>
            <input name="name" type="text" class="col-75" ng-model="latefeeName">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Type</label>
            <select name="type" class="col-75" ng-model="selectedFeeType"
              ng-options="type for type in latefeeTypes">
              <option value="" disabled>Choose Type</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Amount</label>
            <input name="amount" type="text" class="col-75" ng-model="latefeeAmount">
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-info text-uppercase" ng-click="addLateFee()">Save</button>
    </div>
    </div>

    <div class="popup-modal edit-latefee hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Edit Late Fee</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form id="editLateFeeForm" class="layout-margin-tb col-100 inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Name</label>
            <input name="name" type="text" class="col-75" ng-model="latefeeName">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Type</label>
            <select name="type" class="col-75" ng-model="selectedFeeType"
              ng-options="type for type in latefeeTypes">
              <option value="" disabled>Choose Type</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Amount</label>
            <input name="amount" type="text" class="col-75" ng-model="latefeeAmount">
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-info text-uppercase" ng-click="updateLateFee()">Save</button>
    </div>
    </div>

  <div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>