
<div class="overlay tutorial">
    <section class="sign-up text-center">
    
        <h1><strong>STEP 4</strong></h1>
        
        <label>Create an item or service you are selling.</label>
        
        <a href="" ng-click="nextClicked();" class="button button-primary button-next">Next</a>
        
        <a ui-sref="dashboard.customers.new" href="" class="skip-tutorial" >SKIP</a>
        
    </section>
</div> 

<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>

  <div class="container hidesm">
    <h3 class="layout-margin-t section-title float-left">Items <!--<i class="arrow-down-black"></i>--></h3>
    <a href="javascript:" class="float-right layout-margin-tb button button-add text-transform modal-opener" data-toggle="new-item" ng-click="clearAddItemFields()">New</a>
    <form class="float-right layout-margin-tb">
      <input type="text" class="search-bar layout-margin-r" placeholder="Search" ng-model="search.entity.title">
    </form>

    <table class="table-border-tb show_table_hover">
      <tr class="thead">
        <td class="text-uppercase text-info layout-padding">Name</td>  
        <td class="text-uppercase text-info layout-padding">Price</td>
        <td class="text-uppercase text-info layout-padding" >Description</td>
        <td class="text-uppercase text-info layout-padding text-right"></td>
      </tr>
      <tr class="trow" ng-repeat="item in items | filter:search">
        <td ng-click="showItemDetail($index)" class="text-color-light text-weight-normalize layout-padding">{{item.entity.title}}</td> 
          <td ng-click="showItemDetail($index)" class="text-color-light text-weight-normalize layout-padding">{{item.entity.rate | currency:$:2}}</td>
           <td ng-click="showItemDetail($index)" style="max-width: 300px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" class="text-color-light text-weight-normalize layout-padding">{{item.entity.itemDescription}}</td>
        <td class="text-color-light text-weight-normalize layout-padding text-right"
          ng-click="confirmDelete($index)"><img src="./assets/images/icon-times-round.png" alt="" />
        </td>
      </tr>
    </table>

  </div>


  <div class="popup-modal confirm-delete hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-color-normalise text-weight-normalize
        float-left">Do you really want to delete item '{{confirmItem.entity.title}}?'</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <button class="button button-info text-uppercase" ng-click="deleteItem(true)">Yes</button>
      <button class="button button-info text-uppercase" ng-click="deleteItem(false)">No</button>
    </div>
  </div>

  <div class="popup-modal new-item hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Add Item</h3>
      <button ng-click="closeAddItem();" class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form id="addItemForm" class="layout-margin-tb col-100 inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Name</label>
            <input name="name" type="text" class="col-75" ng-model="itemName">
          </div>
          <!--
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Unit</label>
            <select class="col-75">
              <option value="select" disabled selected>Select or Type to Add</option>
            </select>
          </div>
          -->
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Price</label>
            <input id="add_item_price" name="rate"  class="col-75" placeholder="USD" ng-model="itemRate">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Description</label>
            <textarea class="col-75" ng-model="itemDesc"></textarea>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Tax</label>
            <select class="col-75" ng-model="itemTax" ng-options="tax.name for tax in taxes">
              <option value="" selected>None</option>
            </select>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-info text-uppercase" ng-click="saveNewItem()">Save</button>
    </div>
  </div>

  <div class="popup-modal edit-item hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Edit Item</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form id="editItemForm" class="layout-margin-tb col-100 inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Name</label>
            <input name="name" type="text" class="col-75" ng-model="itemName">
          </div>
          <!--
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Unit</label>
            <select class="col-75">
              <option value="select" disabled selected>Select or Type to Add</option>
            </select>
          </div>
          -->
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Price</label>
            <input name="rate" type="number" class="col-75" placeholder="USD" ng-model="itemRate">

          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Description</label>
            <textarea class="col-75" ng-model="itemDesc"></textarea>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Tax</label>
            <select class="col-75" ng-model="itemTax" ng-options="tax.name for tax in taxes">
              <option value="" selected>None</option>
            </select>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-info text-uppercase float-left" ng-click="saveEditedItem()">Save</button>
      <button class="button button-danger text-uppercase float-right">Delete</button>
      <div class="clearfix"></div>
    </div>
  </div>

<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>


<script>
     $(document).ready(function(){
         $("#money").mask("#,##0.00", {reverse: true});}
</script>
