<div class="overlay tutorial">
    <section class="sign-up text-center">
    
        <h1><strong>STEP 3</strong></h1>
        
        <label>Create a tax for your items. Example: <br/> sales tax, state tax, etc.</label>
        
        <a href="" ng-click="nextClicked();" class="button button-primary button-next">Next</a>
        
        <a ui-sref="dashboard.settings.items" href="" class="skip-tutorial" >SKIP</a>
        
    </section>
</div>  
<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>

  <div class="container hidesm">
    <h3 class="layout-margin-t section-title float-left">Taxes</h3>
    <a href="javascript:" class="float-right layout-margin-tb button button-add text-transform modal-opener" data-toggle="new-tax" ng-click="clearAddItemFields()">New</a>
    <form class="float-right layout-margin-tb">
      <input type="text" class="search-bar layout-margin-r" placeholder="Search">
    </form>

    <table class="table-border-tb show_table_hover">
      <tr class="thead">
        <td class="text-uppercase text-info layout-padding">Name</td>
        <td class="text-uppercase text-info layout-padding">Price %</td>
        <!--<img src="./assets/images/dropdown-arrow-primary.png" alt="">-->
        <td class="text-uppercase text-info layout-padding text-right"></td>
      </tr>
      <tr class="trow" ng-repeat="tax in taxes" ng-click="editTax(tax)" >
        <td class="text-color-light text-weight-normalize layout-padding">{{tax.name}}</td>
        <td class="text-color-light text-weight-normalize layout-padding">{{tax.rate}}</td>
        <td class="text-color-light text-weight-normalize layout-padding text-right">
          <img src="./assets/images/icon-times-round.png" alt="" ng-click="deleteTax(tax)"/></td>
      </tr>
    </table>

  </div>


  <div class="popup-modal new-tax hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Add Tax</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form id="addTaxForm" class="layout-margin-tb inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Tax Name</label>
            <input name="name" type="text" class="col-75" placeholder="Type to add" ng-model="taxName">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Price %</label>
        
     <input name="rate" type="text" class="col-75" placeholder="Type to add" ng-model="taxRate">      
    
            </div>
          <div class="col-25 spacer"></div>
          <label class="input-container input-checkbox-container col-75 pull-right">
            <input type="checkbox" ng-model="isCompound">
            <span class="checkbox float-left"></span>
            <p class="float-left">Yes this tax is a compund tax</p>
            <div class="tooltip-sec float-left">
              <i class="info-icon pull-top"></i>
              <p class="info-tooltip push-top">
                A Compound tax is calculated on top of the primary tax. Let's take an example where the price of an item is $100. After applying 10% primary tax, the value of the item sums up to $110. Now, adding a 10% compound tax will add 10% of $110 to the resultant value.
              </p>
            </div>
          </label>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase"
        ng-click="saveNewTax()">Save</button>
    </div>
  </div>

  <div class="popup-modal edit-tax hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Edit Tax</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form id="editTaxForm" class="layout-margin-tb inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Tax Name</label>
            <input name="name" type="text" class="col-75" placeholder="Type to add" ng-model="taxName">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Price %</label>
        
          <input name="rate" type="text" class="col-75" placeholder="Type to add" ng-model="taxRate">
            
            </div>
          <div class="col-25 spacer"></div>
          <label class="input-container input-checkbox-container col-75 pull-right">
            <input type="checkbox" ng-model="isCompound">
            <span class="checkbox float-left"></span>
            <p class="float-left">Yes this tax is a compund tax</p>
            <div class="tooltip-sec float-left">
              <i class="info-icon"></i>
              <p class="info-tooltip">
                A Compound tax is calculated on top of the primary tax. Let's take an example where the price of an item is $100. After applying 10% primary tax, the value of the item sums up to $110. Now, adding a 10% compound tax will add 10% of $110 to the resultant value.
              </p>
            </div>
          </label>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase float-left"
        ng-click="saveEditedTax()">Save</button>
      <button class="button button-small button-danger text-uppercase float-right">Delete</button>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="popup-modal new-tax-category hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">New Tax Group</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form action="" class="layout-margin-tb inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Tax Group Name</label>
            <input type="text" class="col-75" placeholder="Lorem Ipsum">
          </div>
          <div class="input-container layout-margin-tb" ng-repeat="tax in taxes">
            <label class="input-checkbox-container layout-no-margin col-85">
              <input type="checkbox">
              <span class="checkbox float-left"></span>
              <p class="float-left">{{tax.name}}</p>
            </label>
            <p class="col-15 layout-no-margin text-right">{{tax.rate}}</p>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase">Save</button>
    </div>
  </div>

<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>