  <header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>
  
  <div class="container hidesm">

    <div class="col-20 tabs-vertical-container">
      <h3 class="layout-margin-t section-title">Users</h3>
      <ul class="tabs tabs-vertical">
        <li class="active" data-toggle="allusers">All users</li>
        <!--<li data-toggle="roles">Roles</li>-->
      </ul>
    </div>
    <div class="col-80 tabs-border-left">
      <div class="tab active" data-name="allusers">
        <h3 class="layout-margin-t section-title float-left">All Users</h3>
        <button class="float-right layout-margin-tb button button-info text-uppercase">Invite User</button>
        <a href="#" class="float-right layout-margin-tb layout-margin-r button button-add text-uppercase modal-opener" data-toggle="invite-user">New</a>
        <form class="float-right layout-margin-tb">
          <input type="text" class="search-bar layout-margin-r" placeholder="Search">
        </form>

        <div class="clearfix"></div>

        <table class="table-border-tb">
          <tr class="thead">
            <td class="text-uppercase text-info layout-padding">User Name</td>
            <td class="text-uppercase text-info layout-padding">Email</td>
            <td class="text-uppercase text-info layout-padding">Role <img src="./assets/images/dropdown-arrow-primary.png" alt=""></td>
            <td class="text-uppercase text-info layout-padding">Status</td>
            <td class="text-uppercase text-info layout-padding text-right actions"></td>
          </tr>
          <tr ng-repeat="user in users">
            <td class="text-color-light text-weight-normalize layout-padding">{{user.fullName}}</td>
            <td class="text-color-light text-weight-normalize layout-padding">{{user.email}}</td>
            <td class="text-color-light text-weight-normalize layout-padding">{{user.role}}</td>
            <td class="text-color-light text-weight-normalize layout-padding {{user.textClass}}">{{user.status}}</td>
            <td class="text-color-light text-weight-normalize layout-padding text-right actions"><img src="./assets/images/icon-times-round.png" alt="" /></td>
          </tr>

        </table>
      </div>

      <!--<div class="tab" data-name="roles">
        <h3 class="layout-margin-t section-title float-left">Roles</h3>
        <a href="#" class="float-right layout-margin-tb button button-add text-uppercase modal-opener" data-toggle="new-role">New</a>
        <form class="float-right layout-margin-tb">
          <input type="text" class="search-bar layout-margin-r" placeholder="Search">
        </form>

        <div class="clearfix"></div>

        <table class="table-border-tb">
          <tr class="thead">
            <td class="text-uppercase text-info layout-padding">Role Name <img src="./assets/images/dropdown-arrow-primary.png" alt=""></td>
            <td class="text-uppercase text-info layout-padding">Lorem Ipsum</td>
            <td class="text-uppercase text-info layout-padding text-right actions"></td>
          </tr>
        </table>
      </div>-->

    </div>

  </div>

  <div class="popup-modal edit-user hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Edit User</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form class="layout-margin-tb col-100 inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Email</label>
            <select class="col-75">
              <option value="select" selected>femunch02@gmail.com</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Felix Munch</label>
            <input type="text" class="col-75">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Role</label>
            <select class="col-75">
              <option value="select" selected>Admin</option>
              <option value="select" selected>Staff</option>
              <option value="select" selected>Timesheet Staff</option>
            </select>
            <p class="col-75 pull-right layout-no-padding">Unrestricted access to all modules</p>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-info text-uppercase float-left">Save</button>
      <button class="button button-danger text-uppercase float-right">Delete</button>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="popup-modal invite-user hidesm">
    <div class="modal container">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Add User</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form class="layout-margin-tb col-100 inputs-white">
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Email</label>
            <select class="col-75">
              <option value="select" disabled selected>Select or Type to Add</option>
            </select>
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Name</label>
            <input type="text" class="col-75">
          </div>
          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-smm">Role</label>
            <select class="col-75">
              <option value="select" selected>Admin</option>
              <option value="select" selected>Staff</option>
              <option value="select" selected>Timesheet Staff</option>
            </select>
            <p class="col-75 pull-right layout-no-padding">Unrestricted access to all modules</p>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-info text-uppercase">Save</button>
    </div>
  </div>

  <div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>