  <header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>
  
  <div class="container hidesm">
    <!--
    <div class="col-20 tabs-vertical-container">
      <h3 class="layout-margin-t section-title">Users</h3>
      <ul class="tabs tabs-vertical">
        <li class="active" data-toggle="allusers">All users</li>
        <li data-toggle="roles">Roles</li>
      </ul>
    </div>
    -->
    <!--class="col-80 tabs-border-left"-->
    <div>
      <div class="tab active" data-name="allusers">
        <h3 class="layout-margin-t section-title float-left">All Users</h3>
          <!--<button class="float-right layout-margin-tb button button-info text-uppercase" ng-click="inviteUser()">Invite User</button>-->
        <a ng-click="createUser();" class="float-right layout-margin-tb layout-margin-r button button-add text-uppercase modal-opener" data-toggle="invite-user">New</a>
        <form class="float-right layout-margin-tb">
          <input  maxlength="60"type="text" class="search-bar layout-margin-r" placeholder="Search" ng-model="search.title">
        </form>

        <div class="clearfix"></div>


        <table class="table-border-tb" style = "margin-bottom: 20px;">
          <tr class="thead">
            <td ng-click="sortByUserName()" class="text-uppercase text-info layout-padding"  >User Name</td>
            <td class="text-uppercase text-info layout-padding"  >Email</td>
            <td class="text-uppercase text-info layout-padding" >Role</td>
            <td class="text-uppercase text-info layout-padding" >Status</td>
            <td class="text-uppercase text-info layout-padding text-right actions"></td>
          </tr>
          <tr ng-repeat="user in users | filter:search track by $index" class="user-row">
            <td ng-click="editUser($index);" class="text-color-light text-weight-normalize layout-padding">{{user.userName}}</td>
            <td ng-click="editUser($index);" class="text-color-light text-weight-normalize layout-padding">{{user.emailID}}</td>
            <td ng-click="editUser($index);" class="text-color-light text-weight-normalize layout-padding">{{user.role}}</td>
            <td ng-click="editUser($index);" ng-class="user.status=='Activated' ? 'text-positive' : 'text-danger'" class="text-color-light text-weight-normalize layout-padding">{{user.status}}</td>
            <td class="text-color-light text-weight-normalize layout-padding text-right actions" ng-click="deleteUserConfirm($index);"><img src="./assets/images/icon-times-round.png" alt="" /></td>
          </tr>
        </table>
      </div>

      <!--<div class="tab" data-name="roles">
        <h3 class="layout-margin-t section-title float-left">Roles</h3>
        <a href="#" class="float-right layout-margin-tb button button-add text-uppercase modal-opener" data-toggle="new-role">New</a>
        <form class="float-right layout-margin-tb">
          <input type="text" class="search-bar layout-margin-r" placeholder="Search">
        </form>

        <div class="clearfix"></div>

        <table class="table-border-tb">
          <tr class="thead">
            <td class="text-uppercase text-info layout-padding">Role Name <img src="./assets/images/dropdown-arrow-primary.png" alt=""></td>
            <td class="text-uppercase text-info layout-padding">Lorem Ipsum</td>
            <td class="text-uppercase text-info layout-padding text-right actions"></td>
          </tr>
        </table>
      </div>-->
    </div>
  </div>

<div class="popup-modal confirmation-pop-up hidesm">
    <div class="modal container" style="width: 650px !important;">
      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">Confirm</h3>
      <button class="button button-icon float-right modal-close"><img src="./assets/images/icon-times.png" alt="">
      </button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center" style="margin-bottom: 20px; margin-top: 20px; margin-left: -15px;">
        <label style="font-size: 23px;">Are you sure you want to delete {{users[currenDeleteIndex].userName}}?</label>
      </div>
      <div class="clearfix"></div>
        <hr class="layout-margin-tb">
      <button class="button button-small button-default text-uppercase modal-close float-right"
        ng-click="">Cancel</button>
      <button style="margin-right: 15px;margin-bottom: 20px;" class="button button-danger text-uppercase float-right" ng-click="deleteUser(currenDeleteIndex)">Delete</button>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>