  <header class="sticky-nav logo-only">
    <a href="#"><img src="./dist/images/logo.png" alt="Invoices Unlimited"></a>
  </header>

  <section class="sign-up">

    <h2 class="text-uppercase text-center">Account Info</h2>

    <div class="input-radio-container">
      <p class="layout-margin-tb">How do you sell to your customers? </p>
      <label>
        <input type="radio" name="inPerson" value="inPerson" ng-model="accountInfo.inPerson">
        <span class="radio"></span>
        <p class="float-left layout-no-margin">In Person</p>
      </label>
      <label>
        <input type="radio" name="inPerson" value="notInPerson" ng-model="accountInfo.inPerson">
        <span class="radio"></span>
        <p>Not In Person</p>
      </label>
    </div>

    <form name="signUp" id="signUpForm">
      <div class="input-container layout-margin-b">
      <select class="custom-dd" name="avgSale"
              ng-init="accountInfo.avgSale = 'avgSaleTitle'"
              ng-model="accountInfo.avgSale">
        <option value="avgSaleTitle" disabled>Average Sale Per Customer</option>
        <option ng-repeat="option in avgSaleList" value="option.value">{{option.value}}</option>
      </select>
        <!--<input type="text" class="layout-no-margin" placeholder="Average Sale Per Customer" name="avgSale" ng-model="accountInfo.avgSale">-->
      </div>
      <div class="input-container layout-margin-b">
        <input type="text" class="layout-no-margin" placeholder="Estimated Monthly Credit Card Sales" name="monthlySales" ng-model="accountInfo.monthlySales">
      </div>
      <div class="col-100 layout-margin-b">
        <p class="layout-margin-tb layout-no-padding layout-margin-r">Where should we deposid your funds?</p>
        <div class="tooltip-sec">
          <i class="info-icon blue-icon"></i>
          <p class="info-tooltip">
            Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
      <div class="input-container layout-margin-b">
        <input type="text" class="layout-no-margin" placeholder="Bank Name" name="bankName" ng-model="accountInfo.bankName">
      </div>
      <div class="input-container layout-margin-b">
        <input type="text" class="layout-no-margin" placeholder="Bank Routing Number" name="routingNumber" ng-model="accountInfo.routingNumber">
      </div>
      <div class="input-container layout-margin-b">
        <input type="text" class="layout-no-margin" placeholder="Bank Account number" name="accountNumber" ng-model="accountInfo.accountNumber">
      </div>

    </form>

    <a ng-click="saveAccountInfo();" class="button button-primary button-next">Next</a>
    <a ng-click="saveAndContinueLater();" class="button button-neutral-lg">Save &amp; Continue Later</a>

    <p class="text-center">This is to activate a merchant account. If you do not want to accept credit cards, please select the Save &amp; Continue Later button to start using your Free app.</p>

  </section>
