<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>

  <div class="container hidesm">

    <h3 class="float-left section-title text-uppercase text-color-normalize layout-margin-tb">New Project</h3>
    <hr>

    <form id="addProjectForm" class="inputs-white layout-margin-tb">
      <div class="input-container col-60 layout-margin-b">
        <label class="layout-padding-t-sm">Customer Name</label>
        <select class="col-75" name="customer" id="customer"
                ng-model="selectedCustomer" ng-change="customerChanged()"
          ng-options="customer.entity.displayName for customer in customers">
          <option value="null" disabled>Select customer</option>
        </select>
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="layout-padding-t-sm">Project Name</label>
        <input class="col-75" name="projectName" ng-model="projectName" type="text">
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="layout-padding-t-sm">Description</label>
        <textarea class="col-75" ng-model="projectDescription"></textarea>
      </div>
      <div class="input-container col-60 layout-margin-b">
        <label class="layout-padding-t-sm">Billing Method</label>
        <select class="col-75" ng-model="billingMethod">
            <option value="null" disabled selected>Select billing method</option>
            <option value="None">None</option>
            <option value="Fixed cost for project">Fixed cost for project</option>
            <option value="Based on project hours">Based on project hours</option>
            <option value="Based on task hours">Based on task hours</option>
            <option value="Based on staff hours">Based on staff hours</option>
        </select>
      </div>
      <div class="input-container input-radio-container col-60 layout-margin-b">
        <label>Budget</label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="budget" ng-model="hasBudget" value="1">
            <span class="radio"></span>
          </span>
          Yes
        </label>
        <label class="layout-padding-t-sm col-10">
          <span class="layout-margin-r">
            <input type="radio" name="budget" ng-model="hasBudget" value="0" checked="checked" >
            <span class="radio"></span>
          </span>
          No
        </label>

      </div>

      <div class="clearfix"></div>
    </form>

    <button class="button layout-margin-r text-uppercase button-info" ng-click-"saveProject()">Save</button>
    <button class="button layout-margin-r text-uppercase button-neutral" ng-click="cancel()">Cancel</button>

    <div class="clearfix spacer"></div>

    <div class="spacer"></div>

  </div>


 <div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>