<header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>
  <div class="container hidesm">

    <h3 class="section-title float-left text-uppercase text-weight-normalize text-color-normalize layout-margin-tb-lg">All Expenses <i class="arrow-down-black"></i></h3>
    <a ui-sref="dashboard.expenses.new" class="float-right button button-add text-transform modal-opener" data-toggle="add-contact-person">New</a>
    <form class="float-right layout-margin-t">
      <input type="text" class="search-bar" placeholder="Search" ng-model="search.entity.category">
    </form>

    <div class="clearfix"></div>

    <table class="data-table customers-data no-border show_table_hover" style = "margin-bottom: 20px;">
      <tr class="thead">
        <td class="text-uppercase text-info">Date</td>
        <td ng-click = "sortByCatName()" class="text-uppercase text-info">Category Name</td>
        <td class="text-uppercase text-info">Ref.#</td>
        <td class="text-uppercase text-info">Customer Name</td>
        <td class="text-uppercase text-info">Status</td>
        <td class="text-uppercase text-info">Amount</td>
      </tr>
      <!-- ui-sref="dashboard.expenses.edit({expenseId:expense.entity.id})" -->
      <tr class="trow" ng-repeat="expense in expenseList | filter:search"
        ui-sref="dashboard.expenses.details({expenseId:expense.entity.id})">
        <td class="text-color-light">{{expense.expenseDate}}</td>
        <td class="text-color-light">{{expense.entity.category}}</td>
        <td class="text-color-light">{{expense.entity.referenceNumber}}</td>
        <td class="text-color-light">{{expense.customer.displayName}}</td>
        <td><span class="{{expense.statusClass}}">{{expense.entity.status}}</span></td>
        <td class="text-color-light">{{expense.amount}}</td>
      </tr>
    </table>

  </div>
<div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>