.input-container .file_div label:first-of-type:not(.input-checkbox-container) {
	max-width: 100%;
	word-wrap: break-word;
}

.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/*
select.ellipsis {
	background-image: none;
}

select {
    background-image: none;
}
*/

input{
    color: black !important;
}

select{
    color: black !important;
    padding-right: 30px !important;
}

.button-next{
    margin: 20px 0 !important;
}

.datepicker-noclear .uib-datepicker-popup .btn-group .btn-danger.btn{
	display: none;
}

.container-fluid.link-settings-div {
  width: 99vw;
}

.show_table_hover tr.trow td{
	cursor: pointer;
}

.show_hover {
	cursor: pointer;
}

.organization .submenu {
	position: absolute;
	left: 0px;
}

.organization .submenu.show {
	min-width: 100px;
}
.navigation > li .link-sales-div{
  position: absolute;
  top: 38px !important;
  /*left: -278px !important;*/
}

.navigation > li .link-expense-div{
  position: absolute;
  top: 38px !important;
  /*left: -383px !important;*/
}

.navigation > li .link-settings-div{
   position: absolute;
   top: 38px !important;
   /*left: -648px !important;*/
   /*left: -793px !important;*/
}

.navigation > li .link-reports-div{
   position: absolute;
   top: 38px !important;
    /*left: -519px !important;*/
}

.optionDropDown > ul {
	left : -80px;
}

div.paymentInfo > p {
	margin: 0;
	padding: 0;
	color: #000;
}

div.paymentInfo > label {
	color: #8c8c8c;
}

div.paymentInfo > a {
	top: 10px;
}

select.can-create-item option:last-child{
    background-color: transparent;
    color: #0ea81c;
}

select.can-create-customer option:last-child{
    background-color: transparent;
    color: #0ea81c;
}

.datepicker-reports-fix {
  position: relative;
}
.datepicker-reports-fix .dropdown-menu {
   right: auto !important;
   left: 0px;
 }
 .datepicker-reports-fix table tr td {
    padding-right: 5px !important;
	word-break: normal;
}

.tutorial {
    color: #ffffff !important;
    opacity: 1 !important;
    
}

.tutorial label{
    font-size: 23px !important;
}

.tutorial .button-next{
    background: transparent !important;
    border: solid !important;
    margin-top: 90px !important;
}

.tutorial h1{
    color: #ffffff !important;
    margin-bottom: 70px !important;
}

.tutorial section{
    top: 25%;
}

.tutorial .skip-tutorial{
    font-size: 25px;
    color: #fff;
    border-bottom: 1px #fff solid !important;
}

.icons{
    top: 0 !important;
}

.myoverlay {
position: fixed;
top: 0;
left: 0;
background: rgba(100, 100, 100, 0.8);
width: 100%;
height: 100%;
z-index: 10;
}
