.input-container .file_div label:first-of-type:not(.input-checkbox-container) {
	max-width: 100%;
	word-wrap: break-word;
}

.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/*
select.ellipsis {
	background-image: none;
}

select {
    background-image: none;
}
*/

.datepicker-noclear .uib-datepicker-popup .btn-group .btn-danger.btn{
	display: none;
}

.show_table_hover tr.trow td{
	cursor: pointer;
}

.show_hover {
	cursor: pointer;
}

.organization .submenu {
	position: absolute;
	left: 0px;
}

.organization .submenu.show {
	min-width: 100px;
}
.navigation > li .link-sales-div{
   position: absolute;
   top: 38px !important;
}

.navigation > li .link-expense-div{
   position: absolute;
   top: 38px !important;
}

.navigation > li .link-settings-div{
   position: absolute;
   top: 38px !important;
}