.btn.btn-default.btn-sm.btn-info.active{
    background-color: #0ea81c;
    color: white;
}

.uib-datepicker .uib-title 
{
 background-color: #0ea81c;
    color: white;
   border: 2px solid #0ea81c;
     margin-left: -4.5px;
}
.uib-left { 
    background-color: #0ea81c;
    border: 2px solid #0ea81c;
    color: white;
    margin-left: -4.5px;
}

.uib-right { 
    background-color: #0ea81c;
    border: 2px solid #0ea81c;
    color: white;
    margin-left: -4.5px;
}

button .text-info {
   color: black;
}
.ng-binding.text-muted{
    color:darkgray;
}