
<link rel="stylesheet" href="css/bootstrap_dropdown.css"/>
<link rel="stylesheet" href="css/main.css"/>
<link rel="stylesheet" href="css/DynamicView.css"/>
<link rel="stylesheet" href="" id="appStyle"/>
<link rel="stylesheet" href="" id="appStyle1"/>
<link rel="stylesheet" href="css/custom.css"/>

<style>
.user-options {
    position: absolute;
    background-color: #d9d9d9;
    width: 253px;
    text-align: center;
    padding: 18px 12px;
    margin-top: 10px;
    right: 0;
    z-index: 11;
    -moz-border-radius: 35px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;
    box-shadow: 0 8px 6px -6px #333;
}


.arrow-top {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #d9d9d9;
    position: absolute;
    top: -10px;
    right: 100px;
    margin: 0 auto;
}
 
</style>
 
<header style="height: 70px" class="sticky-nav logo-only header-addusr">
    <a id="logo_div" style="float:left; margin-left:40px" href="#"><img src="./images/logo.png" alt="Invoices Unlimited"></a>
    <div style="float:right" class="user-actions user-actions-addusr">
        <span style="color:black !important" ng-click="openUserOptions = true;" id="user-actions-reseller" ng-bind="'Welcome John">Welcome,Reseller<i class="fa fa-bars" style="color: #0088dd !important;margin-left:5px" aria-hidden="true"></i></span>
         <div ng-show="openUserOptions" id="user-options-wrapper">
            <div ng-click="openUserOptions = false;" class="window-shadow"></div>
            <div style="width:145px; margin-right: 10px" class="user-options user-options-reseller">
                <div style="margin-right:-60%" class="arrow-top arrow-top-reseller"></div>
                <ul style="margin-bottom: 10px">
                    <li><a ui-sref="resellers" id="sign-out" style="color: black;padding-top:5px;padding-bottom:5px" class="">DASHBOARD</a></li>
                </ul>
                <ul>
                    <li><a ng-click="logOut()" id="sign-out" style="color: black;padding-top:5px;padding-bottom:5px" class="">SIGN OUT</a></li>
                </ul>
            </div>
        </div>
 
    </div>
</header>

<section  class="sign-up text-center">
    <h2 class="text-uppercase">ACCOUNT INFO</h2>

    <form name="signUp" id="signUpForm" class="ng-pristine ng-invalid ng-invalid-required" novalidate="novalidate">

        <input type="text" placeholder="Business Name" name="company" id="company" ng-model1="bsnsInfo.businessName" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" style="">

        <input type="text" placeholder="Business Address" name="streetName" id="streetName" ng-model1="bsnsInfo.streetName" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" style="">
        <input type="text" placeholder="City" name="city" id="city" ng-model1="bsnsInfo.city" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" style="">

        <div style="width: 100%" class="row">


            <input type="text" style="width: 48%" placeholder="State" name="state" id="state_reseller" ng-model1="bsnsInfo.state" required="" class="input-50 input-50-spacing-swap ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-required="true" aria-invalid="true">

            <input type="text" style="width: 47.5%" placeholder="Zip Code" name="zipCode" id="zipCode_reseller" ng-model1="bsnsInfo.zipCode" required="" class="input-50 input-50-spacing-swap ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-required="true" aria-invalid="true">


        </div>


        <input type="text" placeholder="Email" name="fullName" id="fullName" ng-model1="fullName" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" style="">

        <input type="text" placeholder="Phone Number" class="mobilePhone ng-pristine ng-untouched ng-valid ng-empty" name="phoneNumber" id="phoneNumber" ng-model1="bsnsInfo.phoneNumber" aria-invalid="false">

        <input type="text" placeholder="Username" name="fullName" id="fullName" ng-model1="fullName" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" style="">

        <input type="password" placeholder="Password (6 Characters)" name="fullName" id="fullName" ng-model1="fullName" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" style="">

        <div style="border-bottom:1px solid blue; margin-bottom: 20px" class="row">
        </div>

        <input type="text" placeholder="Account Holder Name" name="fullName" id="fullName" ng-model1="fullName" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" style="">

        <input type="text" placeholder="Credit Card Number" name="fullName" id="fullName" ng-model1="fullName" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" aria-required="true" aria-invalid="true" style="">

        <div style="width: 100%" class="row">
            <input type="text" style="width: 48%" placeholder="Expiration Date" name="state" id="state_reseller" ng-model1="bsnsInfo.state" required="" class="input-50 input-50-spacing-swap ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-required="true" aria-invalid="true">

            <input type="text" style="width: 47.5%" placeholder="CVV" name="zipCode" id="zipCode_reseller" ng-model1="bsnsInfo.zipCode" required="" class="input-50 input-50-spacing-swap ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-required="true" aria-invalid="true">
        </div>

        <div style="width: 100%" class="row">
            <input type="text" style="width: 48%;float:left" placeholder="Zip Code" name="state" id="zip_reseller" ng-model1="bsnsInfo.state" required="" class="input-50 input-50-spacing-swap ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" aria-required="true" aria-invalid="true">
        </div>
    </form>
    <a href="" ng-click="saveBusinessInfo();" class="button button-primary button-next">SAVE</a>

</section>

<!--
<header class="sticky-nav logo-only">
<a href="#"><img src="./assets/images/01_IU-Web-Admin.png" alt="Invoices Unlimited"></a>
</header>

<section class="sign-up text-center">

<h2 class="text-uppercase">Business Info</h2>

<form name="signUp" id="signUpForm">
<input type="text" placeholder="Business Name" name="company" ng-model1="bsnsInfo.businessName" required>
<input type="text" placeholder="Business Address" name="streetName" ng-model1="bsnsInfo.streetName" required>
<input type="text" placeholder="City" name="city" ng-model1="bsnsInfo.city" required>
<input type="text" placeholder="State" name="state" ng-model1="bsnsInfo.state" required class="input-50">
<input type="text" placeholder="Zip Code" name="zipCode" ng-model1="bsnsInfo.zipCode" required class="input-50">
<!-- <input type="text" placeholder="Phone Number" name="phoneNumber" id="phone" ng-model1="bsnsInfo.phoneNumber">
<textarea placeholder="Products &amp; Services Sold (ie. Boutique Clothing, Stationary, etc.)" ng-model1="bsnsInfo.businessDescription" name="businessDescription"></textarea>
<label class="input-container input-checkbox-container">
<p>Do You Have a Federal Tax ID?</p>
<input type="checkbox" class="federal-tax-id" ng-change="federalTaxIdClick();" ng-model1="x2">
<span class="checkbox"></span>
</label>
<input class="layout-margin-tb federal-tax federal-tax-id-input" type="text" placeholder="Federaly Tax ID" ng-model1="bsnsInfo.federalTaxID" name="federalTaxID"> <!--pattern=".{9,}"

<select class="custom-dd" name="ownershipType"
ng-init="bsnsInfo.ownershipType = 'ownershipTitle'"
ng-model1="bsnsInfo.ownershipType">
<option value="ownershipTitle" disabled>Ownership Type</option>
<option value="Sole Proprietor">Sole Proprietor</option>
<option value="LLC">LLC</option>
<option value="Corporation and Non Profit">Corporation and Non Profit</option>
</select>

</form>

<a href="" ng-click="saveBusinessInfo();" class="button button-primary button-next">Next</a>

</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="./dist/js/main.js"></script>

-->