    <div class="container">
      <a href="index.html" class="logo"><img src="./dist/images/logo.png" alt="InvoicesUnlimited"></a>
      <div class="organization">
        <img src="./dist/images/user-icon.png" alt="">
        <a style="cursor:pointer" class="company">{{BusinessInfo.company}}</a>
        <img style="cursor:pointer" src="./dist/images/dropdown-arrow-primary.png" alt="">
        <ul class="submenu user-submenu">
          <li><a href="#">Settings</a></li>
          <li><a style="cursor:pointer" ng-click="logOut();">Logout</a></li>
        </ul>
      </div>
    </div>
    <ul class="navigation">
      <li class="active"><a ui-sref="dashboard">Dashboard</a></li>
      <li><a href="customers/customers.html">Customers</a></li>
      <li>
        <a href="sales/sales.html">Sales</a>
        <div class="container-fluid">
          <ul class="submenu">
            <li><a href="sales/estimates/estimates.html">Estimates</a></li>
            <li><a href="sales/invoices/invoices.html">Invoices</a></li>
            <li><a href="sales/creditnotes/creditnotes.html">Credit Notes</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="expenses/expenses.html">Expenses</a>
        <div class="container-fluid">
          <ul class="submenu">
            <li><a href="#">Expenses</a></li>
            <li><a href="#">Recurring Expenses</a></li>
            <li><a href="expenses/category/category.html">Expense Category</a></li>
          </ul>
        </div>
      </li>
      <li><a href="projects/projects.html">Projects</a></li>
      <li><a href="timesheets/timesheets.html">Timesheets</a></li>
      <li><a href="reports/salesbycustomer.html">Reports</a></li>
      <li>
        <a ui-sref="dashboard.setttings">Settings</a>
        <div class="container-fluid">
          <ul class="submenu">
            <li>
              <a ui-sref="dashboard.settings.company-profile">Company Profile</a>
            </li>
            <li>
              <a ui-sref="dashboard.settings.general-preferences">General</a>
              <a ui-sref="dashboard.settings.invoices">Invocies</a>
              <a ui-sref="dashboard.settings.credit-notes">Credits</a>
              <a ui-sref="dashboard.settings.invoice-templates">Invoice Templates</a>
              <a ui-sref="dashboard.settings.estimates">Estimates</a>
              <a ui-sref="dashboard.settings.payments">Payments</a>
            </li>
            <li>
              <a ui-sref="dashboard.settings.taxes">Taxes</a>
              <a ui-sref="dashboard.settings.items">Items</a>
              <a ui-sref="dashboard.settings.users">Users</a>
              <a ui-sref="dashboard.settings.currencies">Currency</a>
            </li>
            <li>
              <a ui-sref="dashboard.settings.app-preferences">App Preferences</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>