<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Invoices Unlimited</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../../dist/css/main.css">
  <link rel="stylesheet" href="../../dist/js/fullcalendar.min.css">
  <link rel="stylesheet" href="../../dist/js/fullcalendar.print.css" media='print'>
</head>
<body>

   <header class="dashboard-header hidesm">
    <div class="container">
      <a href="../../dashboard/index.html" class="logo"><img src="../../dist/images/logo.png" alt="InvoicesUnlimited"></a>
      <div class="organization">
        <img src="../../dist/images/user-icon.png" alt="">
        <a href="#">Company Name</a>
        <img src="../../dist/images/dropdown-arrow-primary.png" alt="">
        <ul class="submenu user-submenu">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
    <ul class="navigation">
      <li><a href="../../dashboard/index.html">Dashboard</a></li>
      <li><a href="../../dashboard/customers/customers.html">Customers</a></li>
      <li>
        <a href="../../dashboard/sales/sales.html">Sales</a>
        <div class="container-fluid">
          <ul class="submenu">
            <li><a href="../../dashboard/sales/estimates/estimates.html">Estimates</a></li>
            <li><a href="../../dashboard/sales/invoices/invoices.html">Invoices</a></li>
            <li><a href="../../dashboard/sales/creditnotes/creditnotes.html">Credit Notes</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="../../dashboard/expenses/expenses.html">Expenses</a>
        <div class="container-fluid">
          <ul class="submenu">
            <li><a href="../../dashboard/expenses/record.expense.html">Expenses</a></li>
            <li><a href="../../dashboard/expenses/recurring/all.html">Recurring Expenses</a></li>
            <li><a href="../../dashboard/expenses/category/category.html">Expense Category</a></li>
          </ul>
        </div>
      </li>
      <li><a href="../../dashboard/projects/projects.html">Projects</a></li>
      <li class="active"><a href="../../dashboard/timesheets/timesheets.html">Timesheets</a></li>
      <li><a href="../../dashboard/reports/salesbycustomer.html">Reports</a></li>
      <li>
        <a href="../../dashboard/settings/companyprofile.html">Settings</a>
        <div class="container-fluid">
          <ul class="submenu">
            <li>
              <a href="../../dashboard/settings/companyprofile.html">Company Profile</a>
            </li>
            <li>
              <a href="../../dashboard/settings/generalpreferences.html">General</a>
              <a href="../../dashboard/settings/invoices.html">Invocies</a>
              <a href="../../dashboard/settings/creditnotes.html">Credits</a>
              <a href="../../dashboard/settings/invoicetemplates.html">Invoice Templates</a>
              <a href="../../dashboard/settings/estimates.html">Estimates</a>
              <a href="../../dashboard/settings/payments.html">Payments</a>
            </li>
            <li>
              <a href="../../dashboard/settings/taxes.html">Taxes</a>
              <a href="../../dashboard/settings/items.html">Items</a>
              <a href="../../dashboard/settings/users.html">Users</a>
              <a href="../../dashboard/settings/currencies.html">Currency</a>
            </li>
            <li>
              <a href="../../dashboard/settings/app-preferences.html">App Preferences</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </header>


  <div class="container hidesm">
    <h3 class="section-title float-left text-uppercase text-weight-normalize text-color-normalize layout-margin-tb-lg">All Timesheets <i class="arrow-down-black"></i></h3>
   <!-- <ul class="tabs timesheets-tabs col-no-padding">
      <li class="text-center col-no-padding active" data-toggle="list">
        <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">List</h4>
      </li>
      <li class="text-center col-no-padding" data-toggle="week">
        <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Week</h4>
      </li>
      <li class="text-center col-no-padding" data-toggle="month">
        <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Month</h4>
      </li>
    </ul> -->

    <a href="#" class="float-right button button-add text-uppercase modal-opener" data-toggle="new-timesheet">New</a>

    <!-- <div class="tab" data-name="list"></div>-->
	
    <div id="listView" style="display:none">
      <div class="container-table">
	  
        <div class="thead">
          <p class="col-16 text-uppercase text-info text-weight-normalize">Date</p>
          <p class="col-16 text-uppercase text-info text-weight-normalize">Time Spent</p>
          <p class="col-16 text-uppercase text-info text-weight-normalize">User</p>
          <p class="col-16 text-uppercase text-info text-weight-normalize text-center">Project</p>
          <p class="col-16 text-uppercase text-info text-weight-normalize text-right">Task</p>
          <p class="col-16 text-uppercase text-info text-weight-normalize text-right">Status</p>
        </div>
        <div class="table-row row-border">
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize">12/03/2014</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize">00:55</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize">John Doe</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize text-center">Lorem Ipsum</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize text-right">Research</p>
          <p class="col-16 layout-margin-t text-weight-normalize text-right text-color-normalize">Unbilled</p>
          <p class="col-100 layout-margin-tb layout-padding-l">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat autem asperiores modi odio in perferendis obcaecati explicabo.
          </p>
        </div>
        <div class="table-row row-border">
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize">12/03/2014</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize">00:55</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize">Leela Turanga</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize text-center">Lorem Ipsum</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize text-right">Research</p>
          <p class="col-16 layout-margin-t text-weight-normalize text-right text-color-positive">Invoiced</p>
          <p class="col-100 layout-margin-tb layout-padding-l">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat autem asperiores modi odio in perferendis obcaecati explicabo.
          </p>
        </div>
        <div class="table-row row-border">
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize">12/03/2014</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize">00:55</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize">Leela Turanga</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize text-center">Lorem Ipsum</p>
          <p class="col-16 layout-margin-t text-color-light text-weight-normalize text-right">Research</p>
          <p class="col-16 layout-margin-t text-weight-normalize text-right text-color-positive">Invoiced</p>
          <p class="col-100 layout-margin-tb layout-padding-l">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat autem asperiores modi odio in perferendis obcaecati explicabo.
          </p>
        </div>
      </div>
	</div>

   <!-- <div class="tab" data-name="week">
      <div class="weekcalendar">
	  </div>
    </div> -->

    <!--<div class="tab" data-name="month"></div>-->
	
	<div id="calendar"></div>
  </div>

  <div class="popup-modal new-timesheet hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">New Timesheet</h3>
      <button class="button button-icon float-right modal-close button-no-margin"><img src="../../dist/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form action="" class="layout-margin-tb inputs-white">

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">User Name</label>
            <input class="col-75" placeholder="Select or Type to add">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Logged Hours</label>
            <input class="col-75" type="text" placeholder="HH:MM">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Billed Hours</label>
            <input class="col-75" type="text" placeholder="HH:MM">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Unbilled Hours</label>
            <input class="col-75" type="text" placeholder="HH:MM">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Role</label>
            <input class="col-75" type="text" placeholder="Type to add">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Notes</label>
            <textarea class="col-75"></textarea>
          </div>

        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase layout-margin-r">Save</button>
    </div>
  </div>

  <div class="popup-modal new-timesheet2 hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">New Timesheet</h3>
      <button class="button button-icon float-right modal-close button-no-margin"><img src="../../dist/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">
        <form action="" class="layout-margin-tb inputs-white">

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Logged Hours</label>
            <input class="col-75" type="text" placeholder="HH:MM">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Billed Hours</label>
            <input class="col-75" type="text" placeholder="HH:MM">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Unbilled Hours</label>
            <input class="col-75" type="text" placeholder="HH:MM">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Role</label>
            <input class="col-75" type="text" placeholder="Type to add">
          </div>

          <div class="input-container layout-margin-b">
            <label class="layout-padding-t-sm">Notes</label>
            <textarea class="col-75"></textarea>
          </div>

        </form>
      </div>
      <div class="clearfix"></div>
      <button class="button button-small button-info text-uppercase layout-margin-r">Save</button>
    </div>
  </div>

  <div class="popup-modal timesheet-more hidesm">
    <div class="modal container">

      <h3 class="section-title layout-no-margin text-uppercase text-color-normalise text-weight-normalize float-left">New Timesheet</h3>
      <button class="button button-icon float-right modal-close button-no-margin"><img src="../../dist/images/icon-times.png" alt=""></button>
      <div class="clearfix"></div>
      <hr class="layout-margin-tb">

      <div class="col-80 text-left layout-center">

        <div class="container-table timesheet-more">
          <div class="thead">
            <p class="col-20 text-uppercase text-color-normalize text-weight-normalize">Time Spent</p>
            <p class="col-20 text-uppercase text-color-normalize text-weight-normalize">User</p>
            <p class="col-20 text-uppercase text-color-normalize text-weight-normalize">Task</p>
          </div>
          <div class="table-row row-border">
            <p class="col-20 layout-margin-t text-color-light text-weight-normalize">01:55</p>
            <p class="col-20 layout-margin-t text-color-light text-weight-normalize">John Doe</p>
            <p class="col-20 layout-margin-t text-color-light text-weight-normalize">Research</p>
            <form action="" class="timesheet-more-form col-100 inputs-white layout-margin-tb">
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Date</label>
                <select class="col-75 ">
                  <option value="option1">January 15, 2016</option>
                  <option value="option2">Januaty 17, 2016</option>
                </select>
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Time Spent</label>
                <input type="text" class="col-75" value="01:55">
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">User</label>
                <select class="col-75 ">
                  <option value="option1">John Doe</option>
                  <option value="option2">Leela Turanga</option>
                </select>
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Project</label>
                <select class="col-75 ">
                  <option value="option1" disabled selected>Select a project</option>
                  <option value="option2">Project</option>
                  <option value="option2">Project</option>
                </select>
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Task</label>
                <select class="col-75 ">
                  <option value="option1">Research</option>
                  <option value="option2">Project</option>
                </select>
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Notes</label>
                <textarea class="col-75"></textarea>
              </div>
            </form>
          </div>
          <div class="table-row row-border">
            <p class="col-20 layout-margin-t text-color-light text-weight-normalize">01:55</p>
            <p class="col-20 layout-margin-t text-color-light text-weight-normalize">John Doe</p>
            <p class="col-20 layout-margin-t text-color-light text-weight-normalize">Research</p>
            <form action="" class="timesheet-more-form col-100 inputs-white layout-margin-tb">
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Date</label>
                <select class="col-75 ">
                  <option value="option1">January 15, 2016</option>
                  <option value="option2">Januaty 17, 2016</option>
                </select>
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Time Spent</label>
                <input type="text" class="col-75" value="01:55">
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">User</label>
                <select class="col-75 ">
                  <option value="option1">John Doe</option>
                  <option value="option2">Leela Turanga</option>../../dist/images/google-play-icon.png
                </select>
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Project</label>
                <select class="col-75 ">
                  <option value="option1" disabled selected>Select a project</option>
                  <option value="option2">Project</option>
                  <option value="option2">Project</option>
                </select>
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Task</label>
                <select class="col-75 ">
                  <option value="option1">Research</option>
                  <option value="option2">Project</option>
                </select>
              </div>
              <div class="col-100 input-container layout-margin-b">
                <label class="layout-padding-t-sm text-color-normalize text-weight-normalize">Notes</label>
                <textarea class="col-75"></textarea>
              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="clearfix spacer"></div>
      <button class="button button-small button-info text-uppercase layout-margin-r">Done</button>
    </div>
  </div>

 <div class="onmobile">
    <h2>Need to work on a Mobile ? Download our app!</h2>
    <a href="#"><img src="../../dist/images/google-play-icon.png" alt="Google Play"></a>
    <a href="#"><img src="../../dist/images/AppStore.png" alt="Google Play"></a>
  </div>
  

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="../../dist/js/moment.js"></script>
  <script src="../../dist/js/fullcalendar.min.js"></script>
  <script src="../../dist/js/main.js"></script>
  
  <script>
  
	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
		
   customButtons: {
        list: {
            text: 'list',
			click: function() {
                $("#listView").show();
				$(".fc-view").hide();
				$(".fc-list-button").addClass("fc-state-active");
				$(".fc-basicWeek-button").removeClass("fc-state-active");
				$(".fc-month-button").removeClass("fc-state-active");
            }
        }
    },
	
			header: {
				left: '',
				right:'',
				center: 'list,basicWeek,month'
			},
			defaultDate: '2016-01-12',
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2016-01-01'
				},
				{
					title: 'Long Event',
					start: '2016-01-07',
					end: '2016-01-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2016-01-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2016-01-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2016-01-11',
					end: '2016-01-13'
				},
				{
					title: 'Meeting',
					start: '2016-01-12T10:30:00',
					end: '2016-01-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2016-01-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2016-01-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2016-01-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2016-01-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2016-01-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2016-01-28'
				}
			]
		});
		
		$(".fc-basicWeek-button").click(function(){
			$("#listView").hide();
			$(".fc-list-button").removeClass("fc-state-active");	
			$(".fc-basicWeek-view").show();
		});
		
		$(".fc-month-button").click(function(){
			$("#listView").hide();
			$(".fc-list-button").removeClass("fc-state-active");
			$(".fc-month-view").show();
			
		});
		
	});

</script>
</body>
</html>
