  <header class="dashboard-header hidesm" ng-include src="'./app/shared/dashboard/headerView.html'"></header>

  <div class="container layout-padding hidesm">
    <h3 class="section-title float-left">Total Receivables</h3>
    <a href="#" class="text-md float-right">Get Started</a>
    <div class="clearfix"></div>

    <table class="data-table">
      <tr class="thead">
        <td class="tcell-fw text-center">
          <h3 class="text-uppercase">Total Unpaid Invoices: <span class="text-color-normalize">6, $10.00</span></h3>
        </td>
      </tr>
      <tr class="tbody equal-cells">
        <td class="tcell-aw">
          <h4 class="text-uppercase text-color-light">Current</h4>
          <h4 class="text-positive text-weight-normalize">$00.00</h4>
        </td>
        <td class="tcell-aw">
          <h4 class="text-uppercase text-color-light">1-15 Days</h4>
          <h4 class="text-danger text-weight-normalize">$00.00</h4>
        </td>
        <td class="tcell-aw">
          <h4 class="text-color-light">16-30 Days</h4>
          <h4 class="text-danger text-weight-normalize">$00.00</h4>
        </td>
        <td class="tcell-aw">
          <h4 class="text-color-light">31-45 Days</h4>
          <h4 class="text-danger text-weight-normalize">$00.00</h4>
        </td>
        <td class="tcell-aw">
          <h4 class="text-color-light">Over 45 Days</h4>
          <h4 class="text-danger text-weight-normalize">$00.00</h4>
        </td>
      </tr>
    </table>

    <hr>

    <h3 class="section-title float-left">Sales &amp; Expenses</h3>
    <ul class="se-filter float-right text-color-light">
      <li>This Fiscal Year</li>
      <li>This Month</li>
      <li>This week</li>
    </ul>

    <div class="clearfix"></div>

    <ul class="sales-list">
      <li>
        <h4 class="text-weight-normalize text-color-normalize">Total Sales</h4>
        <span class="dotted-separator"></span>
        <h3 class="text-positive text-weight-normalize">$62.00</h3>
      </li>
      <li>
        <h4 class="text-weight-normalize text-color-normalize">Total Receipts</h4>
        <span class="dotted-separator"></span>
        <h3 class="text-info text-weight-normalize">$96.00</h3>
      </li>
      <li>
        <h4 class="text-weight-normalize text-color-normalize">Total Expenses</h4>
        <span class="dotted-separator"></span>
        <h3 class="text-danger text-weight-normalize">$58.00</h3>
      </li>
    </ul>

    <img src="./assets/images/graph1.png" alt="">

    <hr>

    <div class="col-50 vertical-separator-right">
      <div class="thead">
        <h3 class="float-left section-title text-uppercase text-color-normalize">Top Expenses</h3>
        <ul class="se-filter float-right text-color-light">
          <li>This Fiscal Year</li>
          <li>This Month</li>
          <li>This week</li>
        </ul>
      </div>
      <div class="tbody text-center">
        <img src="./assets/images/graph2.png" alt="">
      </div>
    </div>
    <div class="col-50 layout-padding-l">
      <div class="clearfix">
        <h3 class="float-left section-title text-uppercase text-color-normalize">Top Expenses</h3>
      </div>
      <ul class="tabs tabs-100 container clearfix col-no-padding">
        <li class="col-50 text-center col-no-padding active" data-toggle="tab1">
          <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Unbilled Hours</h4></li>
        <li class="col-50 text-center col-no-padding" data-toggle="tab2">
          <h4 class="text-transform text-uppercase text-weight-normalize text-color-normalize">Unbilled Expenses</h4></li>
      </ul>
      <div class="tab active" data-name="tab1">
        <ul class="container list-clear Expenses-list">
          <li>
            <h4 class="float-left text-color-normalize text-weight-normalize">Total</h4>
            <h4 class="float-right text-color-normalize text-weight-normalize text-emphasize text-info">02:15</h4>
            <div class="clearfix"></div>
          </li>
          <li>
            <h4 class="float-left text-color-normalize text-weight-normalize">The Sunrise Hall Interior Design</h4>
            <h4 class="float-right text-color-normalize text-weight-normalize">00:55</h4>
            <div class="clearfix"></div>
            <p class="text-small">John Doe</p>
          </li>
          <li>
            <h4 class="float-left text-color-normalize text-weight-normalize">Betsy Estates Interior Design</h4>
            <h4 class="float-right text-color-normalize text-weight-normalize">01:00</h4>
            <div class="clearfix"></div>
            <p class="text-small">Leela Turanga</p>
          </li>
          <li>
            <h4 class="float-left text-color-normalize text-weight-normalize">Garden Grove Interior Design</h4>
            <h4 class="float-right text-color-normalize text-weight-normalize">00:20</h4>
            <div class="clearfix"></div>
            <p class="text-small">Frank West</p>
          </li>
        </ul>
      </div>
      <div class="tab layout-padding" data-name="tab2">
        Tab 2 Content
      </div>
    </div>

  </div>

  <div class="onmobile" ng-include src="'./app/shared/dashboard/onMobileView.html'"></div>