/***************  GLOBAL STYLES  ***************/
.error-message > * {
    color: red;
}

.error-message > p{
    margin-top: 0;
}

.error-message {
    margin-bottom: 20px;
    display: none;
}

.form-error {
    border: 1px solid red !important;
}

body {
    color: #000;
    font: normal 14px/18px 'Avenir Next LT Pro Regular', sans-serif;
    overflow-x:hidden;
    overflow-y:scroll;
    background-color: #f2f2f2;
}

body, html {
    height: 100%;
    width: 100%;
}

p {
    line-height: 20px;
    margin-bottom: 10px;
}

h1 {
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
}

h2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
}

h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}

h4 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}

h5 {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #0088dd;
}

a:hover {
    color: #0088dd;
}

strong {
    font-weight: 700;
}

.hide{
    display: none !important;
}

.cl:before, .cl:after {
    display: table;
    content: " ";
}

.cl:after {
    clear: both;
}

.cl {
    clear: both;
}

.left{
    float:left;
}

.right{
    float:right;
}

.window-shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.4);
}

/***************  WRAPPER STRUCTURE  ***************/
.wrapper {
    width: 960px;
    margin: 20px auto;
}


/***************  UI STYLES ***************/
input[type=text],  input[type=password], input[type='number'] {
    display: block;
    outline:0;
    box-sizing:border-box;
    width: 100%;
    border:1px solid #ccc;
    padding:4px 8px;
    font: normal 14px/18px 'Avenir Next LT Pro Regular', sans-serif;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.button{
    background-color: #0089da;
    outline: 0;
    box-sizing: border-box;
    border: 1px solid #0089da;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font: normal 18px/22px 'Avenir Next LT Pro Regular', sans-serif;;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 60px;
    cursor: pointer;
    border-bottom: 3px solid #006cad;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s; 
} 

.button:hover,
.button:focus{
    background-color: #006cad;
    border: 1px solid #006cad;
    border-bottom: 3px solid #006cad;
    color:#fff;
}

.button-cancel{
    float:left;
    color:#000;
    margin: 10px 20px;
}

.alert-danger{
    color:#fc482d;
    display: block;
}

/***************  HEADER STYLES ***************/

.header {
    margin-bottom: 20px;
}

.header a.logo{
    background: url(../images/logo.png) no-repeat center;
    width:345px;
    height: 42px;
    display:block;
    float:left;
}

.header .user-actions{
    float:right;

    position: relative;

}

.header .user-actions span{
    color:#0088dd;
    font-size:22px;
    line-height: 24px;
    padding-right: 24px;
    text-transform: uppercase;
    background: url(../images/icons-sprite.png) no-repeat;
    background-position: right -312px;
    cursor: pointer;

}

.header .user-actions span a{
    font-size:22px;
    line-height: 24px;
}

.header .user-actions  .user-options{
    position: absolute;
    background-color: #d9d9d9;
    /*width: 253px;*/
	width: 220px;
    text-align: center;
    padding: 18px 12px;
    margin-top: 10px;
    right: 0;
    z-index: 11;
    -moz-border-radius: 35px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0 8px 6px -6px #333;
    -moz-box-shadow: 0 8px 6px -6px #333;;
    box-shadow: 0 8px 6px -6px #333;;
}

.header .user-actions  .user-options .arrow-top{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #d9d9d9;
    position: absolute;
    top: -10px;
    right: 100px;
    margin: 0 auto;
}

.header .user-actions  ul{
}


.header .user-actions  ul li{

}

.header .user-actions  ul li a{
	margin-top: 5px;
    display: block;
}


/***************  TABLE  STYLES ***************/

/*table header */
.table-header{
    background-color: #d9d9d9;
    position: relative;
    text-align: center;
    height: 42px;
}
.table-header h2{
    text-transform: uppercase;
    line-height: 42px;
}
.table-header .search-control{
    position: absolute;
    left:16px;
    top:8px;

}
.table-header .search-form{
    position: relative;
    width: 184px;

}
.table-header .search-control input[type=text]{
    width: 100%;
    box-sizing: border-box;
    padding: 4px 30px 4px 8px;
    border: 1px solid #bfbfbf;
    outline: 0;
}

.table-header .search-control input[type=button]{
    position: absolute;
    right: 0px;
    top: 0px;
    background: transparent url(../images/icn-search.png) no-repeat center;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;
}


.table-header .add-button{
    position: absolute;
    right:16px;
    top:4px;
    width:22px;
    height: 22px;
    margin: 6px 0px;
    background: transparent url(../images/icons-sprite.png) no-repeat center;
    background-position: 0px -14px;
}


/*table content */
.table-content{

}
.table-content table{
    width: 100%;
    max-width: 100%;
    border:1px solid #d9d9d9;

}

.table-content thead tr {
    background-color: #fff;
}

.table-content thead tr th{
    font-size: 16px;
    text-align: left;
    padding: 12px 14px;
}

.table-content tbody tr td{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-content tbody tr td.merchantId {
    text-overflow: initial;
    max-width: 140px !important;
}

.table-content tbody tr td.merchantId {
    max-width: 120px;
}

@media (max-width:540px){
    .sub-column {
        width: 100% !important;
        max-width: 100% !important;
    }

    .open-sub-menu-container{
        max-width: 100% !important;
        overflow: visible !important;
    }

    .open-sub-menu{
        top: 0;
    }

    .hide-mobile{
        display: none !important
    }

    .form-left-full-width{
        widows: 100% !important;
    }

    .save-btn{
        margin-left: 0px !important;
    }

    .tr-total{
        display: table-cell !important;
    }

    .submit-btn{
        margin-left: 15% !important;
        width: 200px !important;
        height: 40px !important;
    }

    .button-cancel{
        margin-left: 15% !important;
    }

    .full-name-div{
        width: 100% !important;
    }

    .popup-contain{
        height: auto !important;
    }

    .arrow-top-reseller{
        margin-right: 0px !important;
    }

    .logo-mobile{
        width: 320px !important;
        height: 50px !important;
    }

    #user-actions-reseller{
        margin-left: 20px !important;
    }

    .gway-options{
        margin-left: -22px !important;
    }

    .reseller-maintable tbody tr td:nth-child(8):before{
        content: "Cost"
    }

    .tr-total:before{
        content: "" !important;
    }

    .user-options-reseller{
        margin-left: 42% !important;
    }

    #state_reseller{
        width: 100% !important;
    }

    #zipCode_reseller{
        width: 100% !important;
        margin-left: 0px !important;
    }
    
    #exp_reseller{
         width: 100% !important;
    }
    
    #zipCode_reseller{
        width: 100% !important;
    }
    
    #zip_reseller{
        width: 100% !important;
    }
    
    .user-actions-addusr{
        float: inherit !important;
     }
    
    #logo_div{
        margin-left: 25% !important;
    }
    
    .header-addusr{
        height: 100px !important;
    }
  }

/*
.table-content tbody tr td:nth-child(1){
width: 14%;
}
.table-content tbody tr td:nth-child(2){
width: 14%;
}
.table-content tbody tr td:nth-child(3){
width: 14%;
}
.table-content tbody tr td:nth-child(4){
width: 14%
}
.table-content tbody tr td:nth-child(5){
width: 14%
}
.table-content tbody tr td:nth-child(6){
width: 14%
}
.table-content tbody tr td:nth-child(7){
width: 14%
}
*/

.table-actions {
    overflow: visible !important;
}



.table-content tbody tr td:nth-child(9) a.table-save{
    width: 22px;
    height: 42px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 38px;
    opacity: 0.0;
    background: transparent url(../images/icons-sprite.png) no-repeat right;
    background-position: 0px -152px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s; 
}

.table-content tbody:hover tr td:nth-child(9) a.table-save{
    opacity: 1.0;
}

.table-content tbody tr td:nth-child(9) a.table-remove{
    width: 22px;
    opacity: 0.0;
    height: 42px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    background: transparent url(../images/icons-sprite.png) no-repeat right;
    background-position: 0px -203px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s; 
}

.table-content tbody:hover tr td:nth-child(9) a.table-remove{
    opacity: 1.0;
}

#user-actions-reseller{
    color: #0088dd !important;
    font-size: 22px !important;
    line-height: 24px !important;
    padding-right: 24px !important;
    text-transform: uppercase !important;
    background:none !important;
    background-position: right -312px !important;
    cursor: pointer !important;
}

.table-content tbody tr td:nth-child(6) a.table-save{
    width: 22px;
    height: 42px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 38px;
    opacity: 0.0;
    background: transparent url(../images/icons-sprite.png) no-repeat right;
    background-position: 0px -152px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s; 
}

.table-content tbody:hover tr td:nth-child(6) a.table-save{
    opacity: 1.0;
}

.table-content tbody tr td:nth-child(6) a.table-remove{
    width: 22px;
    opacity: 0.0;
    height: 42px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 8px;
    background: transparent url(../images/icons-sprite.png) no-repeat right;
    background-position: 0px -203px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s; 
}

.table-content tbody:hover tr td:nth-child(6) a.table-remove{
    opacity: 1.0;
}

.table-content tbody tr td a.open-sub-menu{
    background: transparent url(../images/icons-sprite.png) no-repeat center;
    background-position: 10px -52px;
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;

}

.table-content tbody tr td a.close-sub-menu{
    background-position: 10px -102px !important;
}


.table-content tbody tr:nth-child(4n+3){
    background-color: #fff;
}
.table-content tbody tr {
    border-bottom:1px solid #d9d9d9;
}
.table-content tbody tr td{
    padding: 12px 14px;
    position: relative;

}


.sub-column{
    background: #fff;
    overflow: visible !important;
    padding: 0px !important;
    border:1px solid #d9d9d9;
}

.sub-column h4{
    background-color: #f2f2f2;
    display: block;
    padding: 6px 28px;
    font-weight:600;
}

.sub-column form{
    padding: 18px 28px 0px 28px;
}

.sub-column form .form-left{
    float:left;
    width: 430px;

}

.sub-column form .form-right{
    float:right;
    width: 430px;
}

.sub-column form .form-group{
    margin-bottom: 22px;
}

.sub-column form .form-group label{
    float:left;
    width: 146px;
    margin: 4px 0px 4px 0px;
    display: block;
    text-align: left;
}
.sub-column form .form-group .form-control{
    float: left;
    width: 284px;
    box-sizing: border-box;

}


/* First child */
.sub-column form .form-group ul.form-dropdown{
    position: relative;
    float: left;
    display: block;
    margin-top: 4px;
}


.sub-column form .form-group ul.form-dropdown li:first-child{

}

.sub-column form .form-group ul.form-dropdown li:first-child a{
    color: #000;
    position: relative;
    border-bottom: 1px solid #000;
}
.sub-column form .form-group ul.form-dropdown li:first-child a span:first-child{
    float: left;
    border-bottom: 1px solid #000;
}

.sub-column form .form-group ul.form-dropdown li:first-child a span:last-child{
    background: transparent url(../images/icons-sprite.png) no-repeat right;
    background-position: 0px -74px;
    float: left;
    display: block;
    width: 14px;
    height: 10px;
    background-size: 14px;
    margin-top: 4px;
    margin-left: 4px;
}

/* Second child */
.sub-column form .form-group ul.form-dropdown ul {
    width: 200px;
    position: absolute;
    top: 24px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;;
    box-shadow: 0 0 10px #333;
    z-index: 11;

}
.sub-column form .form-group ul.form-dropdown ul li{
    display: block;
    box-sizing: border-box;

}

.sub-column form .form-group ul.form-dropdown ul li a{
    border:0 !important;
    display: block;
    padding: 6px 12px;
}
.sub-column form .form-group ul.form-dropdown ul li a:hover{
    background: #0088dd url(../images/icons-sprite.png) no-repeat right;
    background-position: 176px -184px;
    background-size: 16px;
    color:#fff;
}
.sub-column form .form-group ul.form-dropdown ul li:first-child a:hover{
    background: inherit; 
    background-position: inherit; 
    background-size: inherit; 
    color:inherit; 
}

.sub-column .merchant-portal{
    text-align: center;
}

.sub-column .merchant-portal a{
    display:inline-block;
    margin-bottom: 16px;
    border-bottom: 1px solid #0088dd;

}

.popup{
    background-color: #fff;
    z-index: 50;
    display: table-cell;
    width: 600px;
    height: 600px;
    overflow: scroll;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 100px;
    overflow-x: hidden;
}

.popup-wrapper{
    display: inline-block;
    width: 600px;

}

.popup .button{
    float:left;
}

.total-row{
    border-left: 1px solid #f2f2f2 !important; 
    border-right: 1px solid #f2f2f2 !important; 
    border-bottom: 1px solid #f2f2f2 !important; 
}

.total-before{
    border-left: 1px solid #f2f2f2 !important; 
    border-bottom: 1px solid #f2f2f2 !important; 
}




 
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
 



